input{
    text-indent: 10px;
    color:black;
}

#formLogin{
    outline:0.5px solid rgba(255,255,255,.5);
}

#background-image{
    width:100%;
}

::ng-deep .mat-step-header .mat-step-icon{
    background-color: red;
}


::ng-deep .mat-stepper-vertical-line::before {
    content: "";
    position: absolute;
    left: 0;
    background-color: red;
}


@media only screen and (max-width: 760px){
    #formLogin{
        outline:0px solid black;
    }
}