input{
    text-indent: 10px;
    color:black;
}

#formLogin{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2),inset 0 0 10px #000000;
    outline:0.5px solid rgba(255,255,255,.5);
}


::ng-deep .mat-step-header .mat-step-icon{
    background-color: red;
}


::ng-deep .mat-stepper-vertical-line::before {
    content: "";
    position: absolute;
    left: 0;
    background-color: red;
}


@media only screen and (max-width: 760px){
    #formLogin{
        outline:0px solid black;
    }
}