<div class="grid place-items-center content-center h-full w-full">
    <div class="grid place-items-center content-center overflow-x-hidden bg-white w-full h-full md:w-1/2 rounded md:shadow-md" id="form-layout">
        <form method="POST" class="grid h-full mx-4 gap-2 p-5 w-full" enctype="multipart/form-data" [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
           <h3 class="flex truncate place-items-center items-center justify-center font-bold text-xl truncate">Edit Account</h3>
           <div class="flex w-full items-center justify-center">
            <img (click)="imgProfileBtn()" src="./assets/images/profile_thumb.png" class="cursor-pointer shadow-md rounded-full border-2 border-blue-500" id="profile" alt="profile"/>
            </div>
           <input class="hidden" formControlName="image" type="file" (change)="onChange($event)">
           <label for="name"><small>Full Name:</small></label>
           <input formControlName="full_name" class="rounded  shadow-md py-1" id="input-layout"/>
           <label for="name"><small>Email:</small></label>
           <input formControlName="email" class="rounded  shadow-md py-1" id="input-layout" />
           <label for="name"><small>Address:</small></label>
           <input formControlName="address" class="rounded  shadow-md py-1" id="input-layout" />
           <label for="name"><small>Password:</small></label>
           <input formControlName="password" class="rounded  shadow-md py-1" id="input-layout" />
           <label for="name"><small>Confirm Password:</small></label>
           <input formControlName="confirmPassword" class="rounded  shadow-md py-1" id="input-layout" />
           <button class="flex  justify-self-center justify-center align-center bg-green-700 hover:bg-green-500 text-white font-bold py-2 rounded w-1/2">Submit</button>
        </form>
    </div>
</div>