<div class="flex items-center p-1 justify-center w-full h-full z-2">
    <div class="bg-white w-full h-full p-3 md:w-1/2 rounded shadow-md" id="form-layout">
        <form class="grid mx-4 gap-2 w-100" [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
            <h3 class="flex items-center justify-center font-bold text-xl">Edit Account</h3>
           <label for="name"><small>Full Name:</small></label>
           <input formControlName="full_name" class="rounded shadow-md py-1" id="formAccount-outline"/>
           <label for="name"><small>Email:</small></label>
           <input formControlName="email" class="rounded shadow-md py-1" id="formAccount-outline" />
           <label for="name"><small>Address:</small></label>
           <input formControlName="address" class="rounded shadow-md py-1" id="formAccount-outline" />
           <label for="name"><small>Password:</small></label>
           <input formControlName="password" class="rounded shadow-md py-1" id="formAccount-outline" />
           <label for="name"><small>Confirm Password:</small></label>
           <input formControlName="confirmPassword" class="rounded shadow-md py-1" id="formAccount-outline" />
           <button class="flex justify-self-center justify-center align-center bg-green-700 hover:bg-green-500 text-white font-bold py-2 rounded w-1/2">Submit</button>
        </form>
    </div>
</div>