#form-layout{
    outline: 1px solid rgba(0,0,0,.1);
}

#input-layout{
    outline: 1px solid rgba(0,0,0,.1);
}

#profile{
    width:70px;
    height: 70px;
}

@media only screen and (max-width: 600px){
    #form-layout{
        outline: none;
    }
}