<div class="grid w-full" id="aside-container">
  <div class="grid ">
    <div class="grid">
        <div class="flex flex-col items-center justify-center py-2 bg-gray-600">
          <div id="profile" class="overflow-hidden bg-white rounded-full border-2 border-blue-300">
            <img [src]="path"
            alt="profile" 
            class="rounded-full" routerLink="/dashboard/profile/{{email}}"/>

          </div>
        <div class="font-bold text-white break-words truncate"><small>{{name}}</small></div>
      </div>
      <ol class="grid items-center gap-1 pt-2">
        <li routerLink="/dashboard" class="cursor-pointer hover:bg-gray-200 py-1 flex items-center">
          <mat-icon class="mx-3">dashboard</mat-icon><small>dashboard</small></li>
        <li routerLink="/dashboard/account" class="cursor-pointer hover:bg-gray-200 py-1 flex items-center">
          <mat-icon class="mx-3">settings</mat-icon><small>Account Settings</small></li>
        <li (click)="logout()" class="cursor-pointer py-1 hover:bg-gray-200 flex items-center">
          <mat-icon class="mx-3">exit_to_app</mat-icon><small>Log out</small></li>
      </ol>
    </div>
  </div>
  <hr class="my-3"/>
  <div class="grid px-3">
    <small class="mx-3 my-1">Friends :</small>
    <div
        *ngFor="let friend of listOfFriend"
        class="flex border cursor-pointer my-1 h-12 shadow-md rounded w-full"
        id="card-online"
      >
        <div class="grid justify-center content-center px-2">
          <div class="grid">
            <div class="flex relative border-2 border-green-500 bg-gray-800 rounded-full overflow-hidden" id="friend-profile">
              <img  class="bg-gray-500  shadow-sm" [src]="friend.friend_info.image ? friend.friend_info.image : default_image" alt="user image"/>
            </div>
          </div>
        </div>
        <a routerLink="/dashboard/messages/{{friend.friend_info.email}}" class="grid justify-center content-center">
          <h5 class="text-sm truncate">{{friend.friend_info.email}}</h5>
        </a>
      </div>
  </div>
  <div *ngIf="listOfFriend.length == 0" class="flex justify-center items-center h-80">
      <div class="font-bold text-red-500" >Empty</div>
  </div>
</div>
