#aside-outline{
    outline: 1px solid rgba(0,0,0,.2);
    overflow-y: scroll;
}

#card-online{
    outline: 1px solid rgba(0,0,0,.1);
}

.slice-1{
    height: 43vh;
}

.slice-2{
    height: 86vh;
}

#aside-container{
    min-width:230px;
}

@media only screen and (max-width: 600px){
    #aside-container{
        width: 100vw;
    }
}