<div id="aside-container" class="text-yellow-500 h-screen font-bold">
    <div class="bg-yellow-500">
        <img src="../../../assets/images/title.png" alt="">
    </div>
    <ol class="w-full grid grid-rows-3  h-96">
        <li class="flex ml-4 items-center">
            <div id="aside-menu" class="flex cursor-pointer px-2 items-center justify-center">
                <i class="fa-solid fa-house"></i>
                <p class="px-2">DashBoard</p>
            </div>
        </li>
        <li class="flex ml-4 items-center">
            <div id="aside-menu" class="flex cursor-pointer px-2 items-center justify-center">
                <i class="fa-regular fa-diagram-subtask"></i>
                <p class="px-2">Kanban</p>
            </div>
        </li>
        <li class="flex ml-4 items-center">
            <p class="px-2" id="aside-menu">Profile</p>
        </li>
    </ol>
    <div class="h-32 flex items-center justify-center flex-col">
        <img src="../../../assets/images/profile_thumb.png" class="bg-white rounded-full h-16 w-16" alt="profile">
        <div>Name</div>
    </div>
    <div class="">LOGOUT</div>
</div>