<div class="flex flex-col w-full h-full overflow-x-scroll relative">
    <div class="p-3 flex w-full justify-between md:items-center md:flex-row flex-col"> 
        <div class="flex justify-center items-center p-2 ">
            <app-button-aside-open></app-button-aside-open>
            <div class="text-2xl font-bold">Projects</div>
        </div> 
        <div class="flex h-8 justify-between rounded items-center shadow-md" id="search-container">
            <input type="text" class=" ml-2" placeholder="Search..." id="search"/>
            <i class="fa-sharp fa-solid fa-magnifying-glass px-1 text-md mr-2"></i>
        </div>
    </div>
    <div class="flex">
        <div (click)="showProjectForm()" [ngClass]="isShowProjectForm  ? 'flex items-center ml-5 mt-2 cursor-pointer bg-red-700 hover:bg-red-500 px-3 py-2 text-white rounded' : 'flex items-center ml-5 mt-2 cursor-pointer bg-purple-700 hover:bg-purple-500 px-3 py-2 text-white rounded'">
            <i class="fa-solid fa-pen-to-square"></i> <small class="ml-2">Create Project</small>
        </div>
    </div>

    <!-- create project  -->
    <div class="flex justify-center items-center w-full h-full">
        <form *ngIf="isShowProjectForm" [formGroup]="projectFormGroup" (ngSubmit)="submitProject()"  action="POST" class="grid gap-2 w-3/4">
            <small class="ml-9 py-1">Project Name:</small>
            <div class="flex items-center">
                <i class="fa-sharp fa-solid fa-clipboard text-xl mr-3 px-1"></i>
              <input placeholder="Enter project name" formControlName="projectName"  class="w-full py-1 border shadow-lg bg-gray-50 rounded" id="outline"/>
            </div>
            <small class="ml-9 py-1">Project Budget:</small>
            <div class="flex items-center">
                <i class="fa-solid fa-hand-holding-dollar mr-4"></i>
              <input formControlName="budget" placeholder="Enter budget" type="number" class="w-full py-1 border shadow-lg bg-gray-50 rounded" id="outline"/>
            </div>
            <div class="grid grod-cols-2">
                <small class="ml-9 py-1 w-32">Kick Off - Due Date:</small>
                <div class="flex items-center">
                    <i class="fa-solid fa-calendar-days mr-4 pr-1"></i>
                    <mat-form-field class="border shadow-md rounded w-full h-8 bg-gray-50 relative">
                        <mat-date-range-input [rangePicker]="picker" class="text-black absolute -top-2">
                          <input formControlName="kickOff" matStartDate>
                          <input formControlName="dueDate" matEndDate>
                        </mat-date-range-input>
                        <mat-datepicker-toggle class="text-black" matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
            
            
            
            <div class="grid lg:grid-cols-2 grid-cols-1 w-full">
                <div>
                    <small class="ml-9 py-1">Team members:</small>
                    <div class="flex items-center justify-center">
                        <i class="fa-solid fa-people-group text-xl mr-3"></i>
                        <mat-form-field class="w-full relative flex justify-center items-center h-12 relative">
                            <mat-select  formControlName="teamMembers" multiple class="w-full py-1 border shadow-lg bg-gray-50 rounded w-full -top-3 h-10 absolute">
                                <mat-option *ngFor="let member of members" [value]="member.id">{{member.fullName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <small class="ml-9 lg:ml-12 py-1">Project Manager</small>
                    <div class="flex items-center justify-center">
                        <i class="fa-solid fa-person-chalkboard text-xl  lg:mx-3 mr-3"></i>
                        <mat-form-field class="w-full relative flex justify-center items-center h-12 relative">
                            <mat-select formControlName="projectManager" class="w-full py-1 shadow-lg border bg-gray-50 rounded w-full -top-3 h-10 absolute">
                              <mat-option  *ngFor="let manager of managers" [value]="manager.id">{{manager.managerDetails.fullName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <small class="ml-9 py-1">Description:</small>
            <div class="flex items-center">
                <i class="fa-solid fa-book-open-reader text-xl mr-3"></i>
              <textarea formControlName="description" placeholder="Project Description" class="w-full border py-1 shadow-lg bg-gray-50 rounded" id="outline"></textarea>
            </div>
            <button *ngIf="!loadingSubmitBtn" class="w-40 mx-auto mt-5 bg-green-700 py-1 hover:bg-green-500 text-white rounded" >Create Project</button>
            <button *ngIf="loadingSubmitBtn" class="flex w-40 mx-auto mt-5 bg-green-700 py-1 hover:bg-green-500 text-white rounded" disabled>
                <mat-spinner class="flex m-auto" [diameter]="25"></mat-spinner>
            </button>
        </form>


        <div class="h-full w-full" *ngIf="!isShowProjectForm">
            <table class="w-full mt-4">
                <tr class="grid grid-cols-6 bg-gray-200 py-2">
                    <th class="flex justify-center items-center">
                        <small>Project Name</small>
                        <i class="fa-solid fa-repeat ml-2"></i>
                    </th>
                    <th class="flex justify-center items-center">
                        <small>Project Category</small>
                        <i class="fa-solid fa-repeat ml-2"></i>
                    </th>
                    <th class="flex justify-center items-center">
                        <small>Project Manager</small>
                        <i class="fa-solid fa-repeat ml-2"></i>
                    </th>
                    <th class="flex justify-center items-center">
                        <small>Project Status</small>
                        <i class="fa-solid fa-repeat ml-2"></i>
                    </th>
                    <th class="flex justify-center items-center">
                        <small>Project timeline</small>
                        <i class="fa-solid fa-repeat ml-2"></i>
                    </th>
                    <th>
                        <small>Modify</small>
                    </th>
                </tr>
                <tr class="grid grid-cols-6" *ngFor="let data of projectDetails" id="rowChangerBg">
                    <td *ngIf="!isShowFakeArray" class="pl-2 truncate">
                        {{data.Project.projectName}}
                    </td>
                    <td *ngIf="!isShowFakeArray" class="pl-2 truncate">
                        {{data.Category.fullName}}
                    </td>
                    <td *ngIf="!isShowFakeArray" class="pl-2 truncate">
                        {{data.Manager.managerDetails.fullName}}
                    </td>
                    <td *ngIf="!isShowFakeArray && data.status=='delay'" class="flex justify-center w-full items-center">
                        <small class="bg-red-700 text-white w-full h-full justify-center items-center flex">{{data.status}}</small>
                    </td>
                    <td *ngIf="!isShowFakeArray && data.status=='ongoing'" class="flex justify-center w-full items-center">
                        <small class="bg-green-700 text-white w-full h-full justify-center items-center flex">on going</small>
                    </td>
                    <td *ngIf="!isShowFakeArray && data.status=='pending'" class="flex justify-center w-full items-center">
                        <small class="bg-blue-700 text-white w-full h-full justify-center items-center flex">{{data.status}}</small>
                    </td>
                    <td *ngIf="!isShowFakeArray" class="flex  items-center w-full relative">
                        <small class="text-xm z-10">{{data.Project.kickOff | date: 'mediumDate'}} - {{data.Project.dueDate | date: 'mediumDate'}}</small>
                    </td>
                    <td *ngIf="!isShowFakeArray" class="grid grid-cols-2">
                        <i routerLink="/dashboard/projects/{{data.Project.id}}" class="fa-solid fa-eye flex justify-center items-center text-blue-700 hover:text-blue-500 cursor-pointer"></i>
                        <i (click)="projectDeleteById(data.Project.id,data.Project.projectName)" class="fa-solid fa-trash flex justify-center items-center text-red-700 hover:text-red-500 cursor-pointer"></i>
                    </td>
                </tr>
                <tr class="grid grid-cols-6" *ngFor="let _ of fakeProjectArray">
                    <td *ngIf="isShowFakeArray" class="flex justify-center items-center">
                        <ngx-skeleton-loader class="grid w-full mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                    </td>
                    <td *ngIf="isShowFakeArray" class="flex justify-center items-center">
                        <ngx-skeleton-loader class="grid w-full mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                    </td>
                    <td *ngIf="isShowFakeArray" class="flex justify-center items-center">
                        <ngx-skeleton-loader class="grid w-full mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                    </td>
                    <td *ngIf="isShowFakeArray" class="flex justify-center items-center">
                        <ngx-skeleton-loader class="grid w-full mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                    </td>
                    <td *ngIf="isShowFakeArray" class="flex justify-center items-center">
                        <ngx-skeleton-loader class="grid w-full mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                    </td>
                    <td *ngIf="isShowFakeArray" class="grid grid-cols-2 gap-2 mx-3">
                        <ngx-skeleton-loader class="grid w-full mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                        <ngx-skeleton-loader class="grid w-full mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="showConformationToDelete" class="fixed top-0 left-0 w-full h-full bg-transparent-black flex justify-center items-center">
        <div class="bg-white rounded w-96 h-28 flex flex-col">
            <div class="flex justify-around py-3 font-bold items-center">Are you sure you want to remove {{projectName}}?</div>
            <hr class="mb-5"/>
            <div class="flex justify-around items-center">
                <div *ngIf="!loadingDeleteBtn" (click)="projectCommitDeleteById()"  class="flex py-1 px-5 border rounded shadow-lg bg-green-700 hover:bg-green-500 cursor-pointer text-white">YES</div>
                <div *ngIf="loadingDeleteBtn" class="flex py-1 px-5 border rounded shadow-lg bg-green-700 hover:bg-green-500 cursor-pointer text-white"><mat-spinner [diameter]="25"></mat-spinner></div>
                <div (click)="closeNotification()" class="flex py-1 px-5 border rounded shadow-lg bg-red-700 hover:bg-red-500 cursor-pointer text-white" >NO</div>
            </div>
        </div>
    </div>
</div>