#logo{
    display:block;
}

#search{
    text-indent: 10px;
}

#search:focus{
    outline:none
}

#dateSize{
    font-size:10px;
    
}


@media only screen and (max-width: 487px) {
    #logo{
        display:none;
    }
  }