<header class="grid grid-rows-1 grid-cols-2 sticky top-0 left-0 w-full bg-red-600 grid-flow-col shadow-lg">
    <div class="flex items-end md:h-16 h-full">
        <img routerLink="/dashboard" src="./assets/images/title.png" id="logo" class='md:h-full h-2/3 pt-1 pl-3  cursor-pointer' alt="logo">
    </div>
    <div class="grid grid-cols-4 py-2 grid-flow-row-dense w-full">
        <div class="flex col-span-3 justify-end align-items-center my-2 text-gray-700 grid-flow-col">
        <div class="flex justify-start items-center ml-3">
            <mat-icon class="text-black text-2xl mx-3 cursor-pointer"> people_outline</mat-icon>
            <mat-icon class="text-black text-2xl cursor-pointer">notifications_none</mat-icon>
            <mat-icon class="text-black text-2xl mx-3 cursor-pointer"> chat_bubble_outline</mat-icon>
            <mat-icon *ngIf="isNavBarOpen" class="text-black text-2xl cursor-pointer" (click)="onClickAside()">menu</mat-icon>
            <mat-icon *ngIf="!isNavBarOpen" class="text-black text-2xl cursor-pointer" (click)="onClickAside()">close</mat-icon>
        </div>
        </div>
    </div>
</header>
