<div class="flex flex-col w-full h-full">
    <app-back-btn></app-back-btn>
    <div class="flex w-full">
        <div class="grid grid-cols-2 border-b-2 border-black w-full bg-gray-200">
            <div (click)="switch('Project')" [ngClass]="isSwitch ? 'grid w-full text-white bg-purple-700 cursor-pointer  border-r border-black' : 'grid w-full hover:bg-purple-300 cursor-pointer  border-r border-black'">
                <p class="flex m-auto text-center">Project Information</p>
            </div>
            <div (click)="switch('')" [ngClass]="!isSwitch ? 'grid w-full text-white bg-purple-700 cursor-pointer  border-l border-black' : 'grid w-full hover:bg-purple-300 cursor-pointer  border-l border-black'">
                <p class="flex m-auto text-center ">Kanban</p>
            </div>
        </div>
    </div>

    <div *ngIf="isSwitch && projectInfo.length == 0" class="grid h-full w-full">
        <mat-spinner class="flex m-auto" [diameter]="100"></mat-spinner>
    </div>


    <!-- project Details -->
    <div *ngIf="isSwitch && projectInfo.length != 0" class="grid h-full w-full grid-cols-1 lg:grid-cols-3 gap-1">
        <div class="flex flex-col items-center w-full border-2 shadow-md m-1 rounded">
            <div class="flex flex-col w-full items-center">
                <div  class="bg-gray-300 rounded-t flex justify-center flex-col items-center rouned-t w-full h-full">
                    <ngx-skeleton-loader *ngIf="isChangeMemberLoadingAnimation" [theme]="{'background-color': '#A2ACA5'}" class="pt-2 w-40" animation="progress"></ngx-skeleton-loader>
                    <h2 *ngIf="!isChangeMemberLoadingAnimation" class="flex font-bold py-1 text-purple-900">Manager Information</h2>
                    <div class="grid grid-cols-2">
                        <img  *ngIf="!isChangeMemberLoadingAnimation"  [src]="defaultProfilePicture" class="rounded-full w-24 h-24" alt="profile">
                        <ngx-skeleton-loader *ngIf="isChangeMemberLoadingAnimation" animation="progress" count="1" appearance="circle" [theme]="{
                            height: '100px',
                            width:'100px',
                            'background-color': '#A2ACA5',
                            border: '1px solid white'
                          }"></ngx-skeleton-loader>
                        <div class="grid gap-1 grid-cols-1 text-sm w-full">
                            <div class="flex items-center">
                                <ngx-skeleton-loader *ngIf="isChangeMemberLoadingAnimation" [theme]="{'background-color': '#A2ACA5'}" class="w-8" animation="progress"></ngx-skeleton-loader>
                                <ngx-skeleton-loader *ngIf="isChangeMemberLoadingAnimation" [theme]="{'background-color': '#A2ACA5'}" class="w-56 mx-2" animation="progress"></ngx-skeleton-loader>
                                <i *ngIf="!isChangeMemberLoadingAnimation" class="fa-solid fa-arrow-up-1-9"></i>
                                <small *ngIf="!isChangeMemberLoadingAnimation" class="ml-4">Age: {{age}} years old</small>
                            </div>
                            <div class="flex  items-center ">
                                <ngx-skeleton-loader *ngIf="isChangeMemberLoadingAnimation" [theme]="{'background-color': '#A2ACA5'}" class="w-8" animation="progress"></ngx-skeleton-loader>
                                <ngx-skeleton-loader *ngIf="isChangeMemberLoadingAnimation" [theme]="{'background-color': '#A2ACA5'}" class="w-56 mx-2" animation="progress"></ngx-skeleton-loader>
                                <i *ngIf="!isChangeMemberLoadingAnimation" class="fa-solid fa-cake-candles"></i>
                                <small *ngIf="!isChangeMemberLoadingAnimation" class="ml-4">Birth Day: {{ birthDay | date: 'mediumDate'}} </small>
                            </div>
                            <div class="flex  items-center ">
                                <ngx-skeleton-loader *ngIf="isChangeMemberLoadingAnimation" [theme]="{'background-color': '#A2ACA5'}" class="w-8" animation="progress"></ngx-skeleton-loader>
                                <ngx-skeleton-loader *ngIf="isChangeMemberLoadingAnimation" [theme]="{'background-color': '#A2ACA5'}" class="w-56 mx-2" animation="progress"></ngx-skeleton-loader>
                                <i *ngIf="!isChangeMemberLoadingAnimation" class="fa-solid fa-location-dot"></i>
                                <small *ngIf="!isChangeMemberLoadingAnimation" class="ml-4">Address: {{projectInfo.Manager.managerDetails.address}}</small>
                            </div>
                            <div class="flex  items-center ">
                                <ngx-skeleton-loader *ngIf="isChangeMemberLoadingAnimation" [theme]="{'background-color': '#A2ACA5'}" class="w-8" animation="progress"></ngx-skeleton-loader>
                                <ngx-skeleton-loader *ngIf="isChangeMemberLoadingAnimation" [theme]="{'background-color': '#A2ACA5'}" class="w-56 mx-2" animation="progress"></ngx-skeleton-loader>
                                <i *ngIf="!isChangeMemberLoadingAnimation" class="fa-solid fa-venus-mars"></i>
                                <small *ngIf="!isChangeMemberLoadingAnimation" class="ml-2">Gender: {{projectInfo.Manager.managerDetails.gender}}</small>
                            </div>
                        </div>
                    </div>
                    <small *ngIf="!isChangeMemberLoadingAnimation" (click)="changeManager()" class="mx-auto mt-6 bg-purple-900 rounded px-3 mb-2 py-1 font-bold text-white cursor-pointer hover:bg-purple-700">Change Project Manager</small>
                    <ngx-skeleton-loader *ngIf="isChangeMemberLoadingAnimation" [theme]="{'background-color': '#A2ACA5'}" class="w-56 m-auto" animation="progress"></ngx-skeleton-loader>
                    <p *ngIf="!isChangeMemberLoadingAnimation" routerLink="/dashboard/members/{{projectInfo.Manager.managerDetails.id}}" class="py-1 text-lg  w-full text-white font-bold cursor-pointer hover:bg-black bg-transparent-black mt-2 px-3 py-1">
                        {{projectInfo.Manager.managerDetails.fullName}}
                    </p>
                </div>
                <div *ngIf="!isChangeMemberLoadingAnimation" class="w-full mt-3 mt-2">
                    <div class="flex">
                        <small class="ml-2 cursor-pointer bg-purple-700 text-white font-bold rounded hover:bg-purple-500 px-3 py-2">Add Project Dependency</small>
                    </div>
                    <div *ngIf="!loadingDependenciesData">
                        <app-dependency-chart [dataOfDependency]="dataOfDependency"></app-dependency-chart>
                    </div>
                </div>
                <div *ngIf="isChangeMemberLoadingAnimation || loadingDependenciesData" class="grid h-full w-full relative">
                    <mat-spinner class="flex mt-10 m-auto" [diameter]="70"></mat-spinner>
                </div>
            </div>
        </div>



        <div class="grid h-full p-1 col-span-2 gap-1 relative">

            <!-- team members -->
            <div class="flex flex-col items-center w-full h-40 border-2 shadow-md rounded">
                <h2 class="flex font-bold py-1">Team Members</h2>
                <div class="flex px-3 overflow-x-auto overflow-y-hidden container" id="members-container">
                    <div class="w-16 h-16 text-3xl rounded-full text-purple-700 items-center justify-center flex mt-3">
                        <i (click)="addMemberIntoTheProject()" class="fa-solid fa-user-plus cursor-pointer"></i>
                    </div>

                    <div class="flex" *ngIf="!isMemberPlaceHolderAnimation">
                        <div class="p-3 border-2 shadow-md mx-1 bg-gray-200 mb-3 rounded w-24 flex flex-col items-center justify-center relative" *ngFor="let member of members">
                            <div class="flex h-16 w-16 relative">
                                <div class="absolute flex w-full justify-end">
                                    <small (click)="removeMemberById(member.id,member.membersDetails.fullName)" class="bg-red-700 cursor-pointer hover:bg-red-500 text-xs p-1 px-2 shadow-md  text-white justify-center items-center flex rounded-full">X</small>
                                </div>
                                <img [src]="defaultProfilePicture" alt="profile" class="shadow-md rounded-full w-full h-full">
                            </div>
                            <div class="flex mt-1">
                                <small routerLink="/dashboard/members/{{member.membersDetails.id}}" class="truncate w-20 py-1 px-2 rounded text-white font-bold cursor-pointer hover:bg-black bg-transparent-black ">
                                    {{member.membersDetails.fullName}}  
                                </small>
                            </div>
                        </div>

                    </div>

                    <div *ngIf="isMemberPlaceHolderAnimation" class="p-3 pl-5 rounded w-24 flex items-center relative">
                        <div class="flex mx-2" *ngFor="let _ of memberFakeArrayForAnimation">
                            <div class="flex flex-col">
                                <ngx-skeleton-loader class="flex m-auto" animation="progress" count="1" appearance="circle" [theme]="{
                                    height: '70px',
                                    width:'70px',
                                    'background-color': '#A2ACA5',
                                    border: '1px solid white'
                                  }"></ngx-skeleton-loader>
                                <ngx-skeleton-loader [theme]="{'background-color': '#A2ACA5'}" class="m-auto w-24" animation="progress"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- category and project Information -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2 h-96">
                <div class="flex flex-col items-center w-full border-2 mx-1  shadow-md rounded lg:overflow-y-scroll">
                    <h2 class="flex font-bold py-1">Project Information</h2>
                    <div *ngIf="!isChangeProjectForm && !isChangeProjectLoadingAnimation" class="grid gird-row-4 w-full gap-5 px-5  mt-5">
                        <div class="flex justify-center items-center">
                            <app-doughnut-charts></app-doughnut-charts>
                        </div>
                        <div>
                            <div class="flex items-center">
                                <i class="fa-sharp fa-solid fa-clipboard text-xl mr-1 px-1"></i>
                                <small class="text-ms font-bold">Project Name</small>
                            </div>
                            <p class="ml-7 break-all">{{projectInfo.Project.projectName}}</p>
                        </div>
                        <div class="grid grid-cols-2">
                            <div>
                                <div class="flex items-center">
                                    <i class="fa-solid fa-hand-holding-dollar text-xl mr-1 px-1"></i>
                                    <small class="text-ms font-bold break-all">Project Budget</small>
                                </div>
                                <p class="ml-8 break-all">₱ {{projectInfo.Project.budget}}</p>
                            </div>
                            <div>
                                <div class="flex items-center">
                                    <i class="fa-solid fa-sack-dollar text-xl mr-1 px-1"></i>
                                    <small class="text-ms font-bold break-all">Total budget used</small>
                                </div>
                                <p class="ml-8 break-all">₱ {{totalBudgetUsed}}</p>
                            </div>
                        </div>
                        <div>
                            <div class="flex items-center">
                                <i class="fa-solid fa-calendar-days text-xl mr-1 px-1"></i>
                                <small class="text-ms font-bold">Kick Off and Due date</small>
                            </div>
                            <small class="ml-7 break-all">{{projectInfo.Project.kickOff | date: 'short'}} - {{projectInfo.Project.dueDate | date: 'short'}}</small>

                        </div>
                        <div>
                            <div class="flex items-center">
                                <i class="fa-solid fa-book-open-reader text-xl mr-1 px-1"></i>
                                <small class="text-ms font-bold">Description</small>
                            </div>
                            <p class="ml-8 break-all break-all max-h-36 overflow-y-auto px-2">
                                {{projectInfo.Project.description}}
                            </p>
                        </div>
                        <small (click)="openProjectFormForUpdate()" class="mx-auto bg-purple-900 rounded mb-2 px-3 py-1 font-bold text-white cursor-pointer hover:bg-purple-700">Edit Project</small>
                    </div>
                    <!-- project details animation -->
                    <div *ngIf="!isChangeProjectForm && isChangeProjectLoadingAnimation" class="grid gird-row-4 w-full gap-5 px-5  mt-5">
                        <div>
                            <div class="flex items-center">
                                <ngx-skeleton-loader [theme]="{'background-color': '#A2ACA5'}" class="w-8 mr-2" animation="progress"></ngx-skeleton-loader>
                                <ngx-skeleton-loader [theme]="{'background-color': '#A2ACA5'}" class="w-24" animation="progress"></ngx-skeleton-loader>
                            </div>
                            <ngx-skeleton-loader [theme]="{'background-color': '#A2ACA5'}" class="w-24" animation="progress"></ngx-skeleton-loader>
                        </div>
                        <div>
                            <div class="flex items-center">
                                <ngx-skeleton-loader [theme]="{'background-color': '#A2ACA5'}" class="w-8 mr-2" animation="progress"></ngx-skeleton-loader>
                                <ngx-skeleton-loader [theme]="{'background-color': '#A2ACA5'}" class="w-24" animation="progress"></ngx-skeleton-loader>
                            </div>
                            <ngx-skeleton-loader [theme]="{'background-color': '#A2ACA5'}" class="w-24" animation="progress"></ngx-skeleton-loader>
                        </div>
                        <div>
                            <div class="flex items-center">
                                <ngx-skeleton-loader [theme]="{'background-color': '#A2ACA5'}" class="w-8 mr-2" animation="progress"></ngx-skeleton-loader>
                                <ngx-skeleton-loader [theme]="{'background-color': '#A2ACA5'}" class="w-24" animation="progress"></ngx-skeleton-loader>
                            </div>
                            <ngx-skeleton-loader [theme]="{'background-color': '#A2ACA5'}" class="w-24" animation="progress"></ngx-skeleton-loader>
                        </div>
                        
                        <ngx-skeleton-loader [theme]="{'background-color': '#A2ACA5'}" class="flex m-auto w-24" animation="progress"></ngx-skeleton-loader>
                    </div>
                    <form *ngIf="isChangeProjectForm" (ngSubmit)="saveProjectUpdatedDetails()" [formGroup]="ProjectUpdateFormGroup"  method="POST" class="grid gird-row-4 w-full gap-5 px-5  mt-5">
                        <div>
                            <div class="flex w-full justify-end pr-10">
                                <div class="font-bold hover:text-red-500 text-red-700 cursor-pointer" (click)="closeChangeProjectForm()">X</div>
                            </div>
                            <div class="flex items-center">
                                <i class="fa-sharp fa-solid fa-clipboard text-xl mr-1 px-1"></i>
                                <small class="text-ms font-bold">Project Name</small>
                            </div>
                            <input formControlName="projectName" placeholder="Enter Project Name" class="w-full border-2 rounded shadow-md mt-2" />
                        </div>
                        <div>
                            <div class="flex items-center">
                                <i class="fa-solid fa-hand-holding-dollar text-xl mr-1 px-1"></i>
                                <small class="text-ms font-bold break-all">Budget </small>
                            </div>
                            <input formControlName="budget" placeholder="Enter Project Name" class="w-full border-2 rounded shadow-md mt-2" />
                        </div>
                        <div >
                            <div class="flex items-center">
                                <i class="fa-solid fa-clock text-red-700 text-xl mr-1 px-1"></i>
                                <small class="text-ms font-bold">Kick Off</small>
                            </div>
                            <input formControlName="kickOff" type="datetime-local" class="w-full border-2 rounded shadow-md mt-2">
                            <div class="flex items-center">
                                <i class="fa-solid fa-clock text-xl text-blue-700 mr-1 px-1"></i>
                                <small class="text-ms font-bold">Due date</small>
                            </div>
                            <input formControlName="dueDate" type="datetime-local" class="w-full border-2 rounded shadow-md mt-2">
                        </div>
                        <div>
                            <div class="flex items-center">
                                <i class="fa-solid fa-book-open-reader text-xl mr-1 px-1"></i>
                                <small class="text-ms font-bold">Description</small>
                            </div>
                            <textarea formControlName="description" placeholder="Enter Project Name" class="w-full border-2 rounded shadow-md mt-2">
                            </textarea>
                        </div>
                        <button *ngIf="!isShowChangeProjectFormAnimationBtn" type="submit" class="mx-auto bg-purple-900 rounded mb-2 px-3 py-1 font-bold text-white cursor-pointer hover:bg-purple-700">Save</button>
                        <small *ngIf="isShowChangeProjectFormAnimationBtn" class="mx-auto bg-purple-900 rounded mb-2 py-1 font-bold text-white cursor-pointer hover:bg-purple-700 px-4">
                            <mat-spinner class="flex m-auto" [diameter]="25"></mat-spinner>
                        </small>
                    </form>
                </div>
                <div class="flex flex-col items-center w-full border-2 shadow-md rounded">
                    <h2 class="flex font-bold py-1">Category Information</h2>
                    <div *ngIf="!isChangeCategoryForm" class="grid gird-row-2 w-full gap-5 px-5  mt-5">
                        <div>
                            <div *ngIf="!isChangeCategoryLoadingAnimation" class="flex items-center">
                                <i class="fa-solid fa-file-lines text-xl mr-3 px-1"></i>
                                <small class="text-ms font-bold">Category Name:</small>
                            </div>
                            <p *ngIf="!isChangeCategoryLoadingAnimation" class="ml-8 break-all">
                                {{projectInfo.Category.fullName}}
                            </p>
                            <ngx-skeleton-loader *ngIf="isChangeCategoryLoadingAnimation" class="flex w-24" [theme]="{'background-color': '#A2ACA5'}" animation="progress"></ngx-skeleton-loader>
                            <ngx-skeleton-loader *ngIf="isChangeCategoryLoadingAnimation" [theme]="{'background-color': '#A2ACA5'}" class="m-auto w-24" animation="progress"></ngx-skeleton-loader>
                        </div>
                        <div>
                            <div *ngIf="!isChangeCategoryLoadingAnimation" class="flex items-center">
                                <i class="fa-solid fa-book-open-reader text-xl mr-1 px-1"></i>
                                <small class="text-ms font-bold">Description</small>
                            </div>
                            <p *ngIf="!isChangeCategoryLoadingAnimation" class="ml-8 break-all max-h-36 px-2 overflow-y-auto">
                                {{projectInfo.Category.description}}
                            </p>
                            <ngx-skeleton-loader *ngIf="isChangeCategoryLoadingAnimation" class="flex w-24" [theme]="{'background-color': '#A2ACA5'}" animation="progress"></ngx-skeleton-loader>
                            <ngx-skeleton-loader *ngIf="isChangeCategoryLoadingAnimation" [theme]="{'background-color': '#A2ACA5'}" class="m-auto w-24" animation="progress"></ngx-skeleton-loader>
                        </div>
                        <small *ngIf="!isChangeCategoryLoadingAnimation" (click)="changeCategory(projectInfo.Category.id)" class="mx-auto mt-10 bg-purple-900 rounded mb-2 px-3 py-1 font-bold text-white cursor-pointer hover:bg-purple-700">Change Category</small>
                        <ngx-skeleton-loader *ngIf="isChangeCategoryLoadingAnimation" [theme]="{'background-color': '#A2ACA5'}" class="m-auto w-24" animation="progress"></ngx-skeleton-loader>
                    </div>
                    <form *ngIf="isChangeCategoryForm" [formGroup]="projectCategoryFormGroup" class="grid gird-row-2 w-full gap-5 px-5  mt-5">
                        <div class="flex w-full justify-end relative">
                            <div class="p-2 font-bold hover:text-red-500 text-red-700 cursor-pointer absolute" (click)="closeChangeCategory()">X</div>
                        </div>
                        <div>
                            <div class="flex items-center">
                                <i class="fa-solid fa-file-lines text-xl mr-3 px-1"></i>
                                <small class="text-ms font-bold">Category Name</small>
                            </div>
                            <br/>
                            <input formControlName="fullName" class="border-2 rounded shadow-md w-full" placeholder="Enter Category Name"/>
                        </div>
                        <div>
                            <div class="flex items-center">
                                <i class="fa-solid fa-book-open-reader text-xl mr-1 px-1"></i>
                                <small class="text-ms font-bold">Description</small>
                            </div>
                            <br/>
                            <textarea  formControlName="description" placeholder="Enter Category Name" class="rounded shadow-md border-2 w-full"></textarea>
                        </div>
                        <small *ngIf="!isShowChangeCategoryFormAnimationBtn" (click)="submitChangeCategory()" class="mx-auto w-32 text-center bg-purple-900 rounded mb-2 px-3 py-1 font-bold text-white cursor-pointer hover:bg-purple-700">SAVE</small>
                        <small *ngIf="isShowChangeCategoryFormAnimationBtn" class="mx-auto w-32 text-center bg-purple-900 rounded mb-2 px-3 py-1 font-bold text-white cursor-pointer hover:bg-purple-700">
                            <mat-spinner class="flex m-auto" [diameter]="25"></mat-spinner>
                        </small>
                    </form>
                </div>
            </div>
        </div>
    </div>





    
    <!-- kanban -->
    <div *ngIf="!isSwitch">
        <div class="flex w-full">
            <div (click)="openAddTaskForm()" class="m-3 px-3 py-1 bg-purple-900 cursor-pointer hover:bg-purple-700 rounded shadow-md grip text-white ">
                <i class="fa-solid fa-list-check"></i>
                <small class="ml-2">Add Task</small>
            </div>
        </div>
        <div cdkDropListGroup class="grid grid-cols-3 gap-4 px-3">
            <div class="example-container">
              <h2 class="text-center font-bold bg-pink-700 py-1 rounded-t text-white">Pending Task</h2>
          
              <div
                id="pending"
                cdkDropList
                [cdkDropListData]="pending"
                class="example-list"
                cdkDropListSortingDisabled
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let pendingItems of pending" cdkDrag [cdkDragData]="pendingItems">
                    <div class="grid w-full h-full p-3" *ngIf="pendingItems.status != ''" 
                    [ngClass]="{'bg-yellow-200': pendingItems.status === 'soonToEnd', 
                    'bg-red-200' : pendingItems.status === 'delay',
                    'bg-blue-50' : pendingItems.status === 'normal' }"
                    >
                        <div class="grid">
                            <div class="flex w-full justify-end items-center">
                                <i (click)="updateTaskForm(pendingItems.data.id)" class="fa-solid fa-gear mx-1 cursor-pointer text-blue-700 hover:text-blue-500"></i>
                                <div class="flex items-center mx-1 font-bold cursor-pointer text-red-700 hover:text-red-500">
                                    <i (click)="deleteTask(pendingItems.data.id,pendingItems.data.taskName)" class="fa-solid fa-trash"></i>
                                </div>
                            </div>
                            <div class="text-center mt-2 text-md truncate font-bold">{{pendingItems.data.taskName}}</div>
                        </div>
                        <div class="grid grid-cols-1">
                            <div>
                                <i class="fa-solid fa-hand-holding-dollar text-xl mr-1 px-1"></i>
                                <small>Budget: </small>
                                <small class="text-ms font-bold">₱ {{pendingItems.data.budget}}</small>
                            </div>
                            <div>
                                <i class="fa-solid fa-clock text-xl text-blue-700 mr-1 px-1"></i>
                                <small>Kick off: </small>
                                <small class="text-ms font-bold">{{pendingItems.data.kickOff | date: 'medium'}}</small>
                            </div>
                            <div>
                                <i class="fa-solid fa-clock text-red-700 text-xl mr-1 px-1"></i>
                                <small>Due date: </small>
                                <small class="text-ms font-bold">{{pendingItems.data.dueDate | date: 'medium'}}</small>
                            </div>
                            <!-- more details -->
                            <div *ngIf="OpenVIewMoreById == pendingItems.data.id" class="mt-2">
                                <small class="font-bold">Description: </small>
                                <p class="p-1 border-2 bg-gray-200 rounded max-h-48 overflow-y-auto break-all shadow-md">
                                    {{pendingItems.data.description}}
                                </p>
                                <div class="w-full flex justify-end p-2 items-center">
                                    <i class="fa-solid fa-globe"></i>
                                    <small class="ml-1">{{pendingItems.data.created_at | dateAgo}}</small>
                                </div>
                            </div>
                            <div *ngIf="OpenVIewMoreById != pendingItems.data.id" (click)="viewMoreTaskDetails(pendingItems.data.id)" class="flex justify-center items-center my-2 w-full">
                                <p class="flex cursor-pointer px-3 py-1 bg-blue-900 hover:bg-blue-700 text-white font-bold rounded">more</p>
                            </div>
                            <div *ngIf="OpenVIewMoreById == pendingItems.data.id"  (click)="closeViewMoreTaskDetails()" class="flex justify-center items-center my-2 w-full">
                                <p class="flex cursor-pointer px-3 py-1 bg-red-900 hover:bg-red-700 text-white font-bold rounded">close</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          
            <div class="example-container">
              <h2 class="text-center font-bold bg-pink-700 py-1 rounded-t text-white">On Going Task</h2>
          
              <div
                id="onGoing"
                cdkDropList
                [cdkDropListData]="onGoing"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let onGoingItems of onGoing" cdkDrag [cdkDragData]="onGoingItems">
                    <div class="grid w-full h-full p-3" *ngIf="onGoingItems.status != ''" 
                    [ngClass]="{'bg-yellow-200': onGoingItems.status === 'soonToEnd', 
                    'bg-red-200' : onGoingItems.status === 'delay',
                    'bg-blue-50' : onGoingItems.status === 'normal' }">
                        <div class="grid">
                            <div class="flex w-full justify-end items-center">
                                <i (click)="updateTaskForm(onGoingItems.data.id)" class="fa-solid fa-gear mx-1 cursor-pointer text-blue-700 hover:text-blue-500"></i>
                                <div class="flex items-center mx-1 font-bold cursor-pointer text-red-700 hover:text-red-500">
                                    <i (click)="deleteTask(onGoingItems.data.id,onGoingItems.data.taskName)" class="fa-solid fa-trash"></i>
                                </div>
                            </div>
                            <div class="text-center mt-2 text-md truncate font-bold">{{onGoingItems.data.taskName}}</div>
                        </div>
                        <div class="grid grid-cols-1">
                            <div>
                                <i class="fa-solid fa-hand-holding-dollar text-xl mr-1 px-1"></i>
                                <small>Budget: </small>
                                <small class="text-ms font-bold">₱ {{onGoingItems.data.budget}}</small>
                            </div>
                            <div>
                                <i class="fa-solid fa-clock text-xl text-blue-700 mr-1 px-1"></i>
                                <small>kick off: </small>
                                <small class="text-ms font-bold">{{onGoingItems.data.kickOff | date: 'medium'}}</small>
                            </div>
                            <div>
                                <i class="fa-solid fa-clock text-red-700 text-xl mr-1 px-1"></i>
                                <small>Due date: </small>
                                <small class="text-ms font-bold">{{onGoingItems.data.dueDate | date: 'medium'}}</small>
                            </div>
                            <!-- more details -->
                            <div *ngIf="OpenVIewMoreById == onGoingItems.data.id" class="mt-2">
                                <small class="font-bold">Description: </small>
                                <p class="p-1 border-2 bg-gray-200 rounded max-h-48 overflow-y-auto break-all shadow-md">
                                    {{onGoingItems.data.description}}
                                </p>
                                <div class="w-full flex justify-end p-2 items-center">
                                    <i class="fa-solid fa-globe"></i>
                                    <small class="ml-1">{{onGoingItems.data.created_at | dateAgo}}</small>
                                </div>
                            </div>
                            <div *ngIf="OpenVIewMoreById != onGoingItems.data.id" (click)="viewMoreTaskDetails(onGoingItems.data.id)" class="flex justify-center items-center my-2 w-full">
                                <p class="flex cursor-pointer px-3 py-1 bg-blue-900 hover:bg-blue-700 text-white font-bold rounded">more</p>
                            </div>
                            <div *ngIf="OpenVIewMoreById == onGoingItems.data.id"  (click)="closeViewMoreTaskDetails()" class="flex justify-center items-center my-2 w-full">
                                <p class="flex cursor-pointer px-3 py-1 bg-red-900 hover:bg-red-700 text-white font-bold rounded">close</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="example-container">
                <h2 class="text-center font-bold bg-pink-700 py-1 rounded-t text-white">Finish Task</h2>
        
                <div
                  id="finished"
                  cdkDropList
                  [cdkDropListData]="done"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let doneItems of done" cdkDrag [cdkDragData]="doneItems">
                    <div class="grid w-full h-full p-3" *ngIf="doneItems.status != ''" 
                    [ngClass]="{'bg-yellow-200': doneItems.status === 'soonToEnd', 
                    'bg-red-200' : doneItems.status === 'delay',
                    'bg-blue-50' : doneItems.status === 'normal' }">
                        <div class="grid">
                            <div class="flex w-full justify-end items-center">
                                <i (click)="updateTaskForm(doneItems.data.id)" class="fa-solid fa-gear mx-1 cursor-pointer text-blue-700 hover:text-blue-500"></i>
                                <div class="flex items-center mx-1 font-bold cursor-pointer text-red-700 hover:text-red-500">
                                    <i (click)="deleteTask(doneItems.data.id,doneItems.data.taskName)" class="fa-solid fa-trash"></i>
                                </div>
                            </div>
                            <div class="text-center mt-2 text-md truncate font-bold">{{doneItems.data.taskName}}</div>
                        </div>
                        <div class="grid grid-cols-1">
                            <div>
                                <i class="fa-solid fa-hand-holding-dollar text-xl mr-1 px-1"></i>
                                <small>Budget: </small>
                                <small class="text-ms font-bold">₱ {{doneItems.data.budget}}</small>
                            </div>
                            <div>
                                <i class="fa-solid fa-clock text-xl text-blue-700 mr-1 px-1"></i>
                                <small>kick off: </small>
                                <small class="text-ms font-bold">{{doneItems.data.kickOff | date: 'medium'}}</small>
                            </div>
                            <div>
                                <i class="fa-solid fa-clock text-red-700 text-xl mr-1 px-1"></i>
                                <small>Due date: </small>
                                <small class="text-ms font-bold">{{doneItems.data.dueDate | date: 'medium'}}</small>
                            </div>
                            <!-- more details -->
                            <div *ngIf="OpenVIewMoreById == doneItems.data.id" class="mt-2">
                                <small class="font-bold">Description: </small>
                                <p class="p-1 border-2 bg-gray-200 rounded max-h-48 overflow-y-auto break-all shadow-md">
                                    {{doneItems.data.description}}
                                </p>
                                <div class="w-full flex justify-end p-2 items-center">
                                    <i class="fa-solid fa-globe"></i>
                                    <small class="ml-1">{{doneItems.data.created_at | dateAgo}}</small>
                                </div>
                            </div>
                            <div *ngIf="OpenVIewMoreById != doneItems.data.id" (click)="viewMoreTaskDetails(doneItems.data.id)" class="flex justify-center items-center my-2 w-full">
                                <p class="flex cursor-pointer px-3 py-1 bg-blue-900 hover:bg-blue-700 text-white font-bold rounded">more</p>
                            </div>
                            <div *ngIf="OpenVIewMoreById == doneItems.data.id"  (click)="closeViewMoreTaskDetails()" class="flex justify-center items-center my-2 w-full">
                                <p class="flex cursor-pointer px-3 py-1 bg-red-900 hover:bg-red-700 text-white font-bold rounded">close</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <!-- kanban notification and forms -->
        <!-- add task  -->
        <div *ngIf="isProjectAddTaskFormOpen" class="fixed top-0 left-0 w-full h-full bg-transparent-black flex justify-center items-center">
            <div class="bg-white rounded w-96 flex flex-col">
                <form method="POST" class="px-3 py-2" [formGroup]="AddTaskFormGroup" (ngSubmit)="AddTaskSubmit()">
                    <div class="flex w-full justify-end">
                        <div class="p-2 font-bold hover:text-red-500 text-red-700 cursor-pointer" (click)="closeTaskForm()">X</div>
                    </div>
                    <div class="py-1">
                        <div class="flex items-center">
                            <i class="fa-sharp fa-solid fa-clipboard text-xl mr-1 px-1"></i>
                            <small class="text-ms font-bold">Task Name:</small>
                        </div>
                        <input formControlName="taskName" class="border-2 pt-1 shadow-md w-full rounded" placeholder="Enter Task Name"/>
                    </div>
                    <div class="py-1">
                        <div class="flex items-center">
                            <i class="fa-solid fa-hand-holding-dollar text-xl mr-1 px-1"></i>
                            <small class="text-ms font-bold">Budget:</small>
                        </div>
                        <input type="number" formControlName="budget" class="border-2 pt-1 shadow-md w-full rounded" placeholder="Enter budget"/>
                    </div>
                    <div class="py-1">
                        <div class="flex items-center">
                            <i class="fa-solid fa-clock text-xl text-blue-700 mr-1 px-1"></i>
                            <small class="text-ms font-bold">Kick off:</small>
                        </div>
                        <input formControlName="kickOff" type="datetime-local" class="border-2 pt-1 shadow-md w-full rounded"/>
                    </div>
                    <div class="py-1">
                        <div class="flex items-center">
                            <i class="fa-solid fa-clock text-red-700 text-xl mr-1 px-1"></i>
                            <small class="text-ms font-bold">Task due date:</small>
                        </div>
                        <input formControlName="dueDate" type="datetime-local" class="border-2 pt-1 shadow-md w-full rounded"/>
                    </div>
                    <div class="py-1">
                        <div class="flex items-center">
                            <i class="fa-solid fa-book-open-reader text-xl mr-1 px-1"></i>
                            <small class="text-ms font-bold">Description:</small>
                        </div>
                        <textarea formControlName="description" class="border-2 pt-1 shadow-md w-full rounded" placeholder="Enter task description"></textarea>
                    </div>
                    <div *ngIf="!isAddTaskAnimation" class="flex w-full items-center justify-center">
                        <button class="w-48 py-1 rounded bg-green-700 mb-2 text-white font-bold" type="submit">Add Task</button>
                    </div>
                    <div *ngIf="isAddTaskAnimation" class="flex w-full items-center justify-center">
                        <button class="w-48 py-1 rounded bg-green-700 mb-2 text-white font-bold" type="submit">
                            <mat-spinner class="m-auto flex w-full py-1" [diameter]="25"></mat-spinner>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- update task  -->
        <div *ngIf="isTaskUpdateFormOpen" class="fixed top-0 left-0 w-full h-full bg-transparent-black flex justify-center items-center">
            <div class="bg-white rounded w-96 flex flex-col">
                <form method="POST" class="px-3 py-2" [formGroup]="UpdateTaskFormGroup" (ngSubmit)="UpdateTaskTaskSubmit()">
                    <div class="flex w-full justify-end">
                        <div class="p-2 font-bold hover:text-red-500 text-red-700 cursor-pointer" (click)="closeUpdateTaskForm()">X</div>
                    </div>
                    <div class="py-1">
                        <div class="flex items-center">
                            <i class="fa-sharp fa-solid fa-clipboard text-xl mr-1 px-1"></i>
                            <small class="text-ms font-bold">Task Name:</small>
                        </div>
                        <input formControlName="taskName" class="border-2 pt-1 shadow-md w-full rounded" placeholder="Enter Task Name"/>
                    </div>
                    <div class="py-1">
                        <div class="flex items-center">
                            <i class="fa-solid fa-hand-holding-dollar text-xl mr-1 px-1"></i>
                            <small class="text-ms font-bold">Budget:</small>
                        </div>
                        <input type="number" formControlName="budget" class="border-2 pt-1 shadow-md w-full rounded" placeholder="Enter budget"/>
                    </div>
                    <div class="py-1">
                        <div class="flex items-center">
                            <i class="fa-solid fa-clock text-xl text-blue-700 mr-1 px-1"></i>
                            <small class="text-ms font-bold">Kick off:</small>
                        </div>
                        <input formControlName="kickOff" type="datetime-local" class="border-2 pt-1 shadow-md w-full rounded"/>
                    </div>
                    <div class="py-1">
                        <div class="flex items-center">
                            <i class="fa-solid fa-clock text-red-700 text-xl mr-1 px-1"></i>
                            <small class="text-ms font-bold">Task due date:</small>
                        </div>
                        <input formControlName="dueDate" type="datetime-local" class="border-2 pt-1 shadow-md w-full rounded"/>
                    </div>
                    <div class="py-1">
                        <div class="flex items-center">
                            <i class="fa-solid fa-book-open-reader text-xl mr-1 px-1"></i>
                            <small class="text-ms font-bold">Description:</small>
                        </div>
                        <textarea formControlName="description" class="border-2 pt-1 shadow-md w-full rounded" placeholder="Enter task description"></textarea>
                    </div>
                    <div *ngIf="!isAddTaskAnimation" class="flex w-full items-center justify-center">
                        <button class="w-48 py-1 rounded bg-green-700 mb-2 text-white font-bold" type="submit">Update Task</button>
                    </div>
                    <div *ngIf="isAddTaskAnimation" class="flex w-full items-center justify-center">
                        <button class="w-48 py-1 rounded bg-green-700 mb-2 text-white font-bold" type="submit">
                            <mat-spinner class="m-auto flex w-full py-1" [diameter]="25"></mat-spinner>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- delete task  notification -->
        <div *ngIf="isShowDeleteTaskNotification" class="fixed top-0 left-0 w-full h-full bg-transparent-black flex justify-center items-center">
            <div class="bg-white rounded w-96 h-28 flex flex-col">
                <div class="font-bold py-3 truncate pl-10">Are you sure you want to remove {{TaskNameToBeDeleted}}?</div>
                <hr class="mb-5"/>
                <div class="flex justify-around items-center">
                    <div *ngIf="!isRemovalOfTaskAnimation" (click)="commitRemovalOfTask()"  class="flex py-1 px-5 border rounded shadow-lg bg-green-700 hover:bg-green-500 cursor-pointer text-white">YES</div>
                    <div *ngIf="isRemovalOfTaskAnimation" class="flex py-1 px-5 border rounded shadow-lg bg-green-700 hover:bg-green-500 cursor-pointer text-white"><mat-spinner [diameter]="25"></mat-spinner></div>
                    <div (click)="cancelDeleteTask()" class="flex py-1 px-5 border rounded shadow-lg bg-red-700 hover:bg-red-500 cursor-pointer text-white">NO</div>
                </div>
            </div>
        </div>
































    <!-- notification -->

    <!-- removal of member -->
    <div *ngIf="isRemoveMemberConfirmation" class="fixed top-0 left-0 w-full h-full bg-transparent-black flex justify-center items-center">
        <div class="bg-white rounded w-96 h-28 flex flex-col">
            <div class="font-bold py-3 truncate pl-10">Are you sure you want to remove {{memberName}}?</div>
            <hr class="mb-5"/>
            <div class="flex justify-around items-center">
                <div *ngIf="!isRemovalOfMemberAnimation" (click)="commitRemovalOfMember()"  class="flex py-1 px-5 border rounded shadow-lg bg-green-700 hover:bg-green-500 cursor-pointer text-white">YES</div>
                <div *ngIf="isRemovalOfMemberAnimation" class="flex py-1 px-5 border rounded shadow-lg bg-green-700 hover:bg-green-500 cursor-pointer text-white"><mat-spinner [diameter]="25"></mat-spinner></div>
                <div (click)="closeRemovalOfMember()" class="flex py-1 px-5 border rounded shadow-lg bg-red-700 hover:bg-red-500 cursor-pointer text-white">NO</div>
            </div>
        </div>
    </div>

    <!-- add member into the project -->
    <div *ngIf="isShowAddMemberForm" class="fixed top-0 left-0 w-full h-full bg-transparent-black flex justify-center items-center">
        <div class="bg-white rounded w-96 flex flex-col">
            <form class="px-3" [formGroup]="memberAddFormGroup" (ngSubmit)="submitAddMember()">
                <div class="flex w-full justify-end">
                    <div class="p-2 font-bold hover:text-red-500 text-red-700 cursor-pointer" (click)="closeMemberForm()">X</div>
                </div>
                <small class="ml-9 py-1">Team members:</small>
                <div class="flex items-center justify-center">
                    <i class="fa-solid fa-people-group text-xl mr-3"></i>
                    <mat-form-field class="w-full relative flex justify-center items-center h-12 relative">
                        <mat-select  formControlName="teamMembers" multiple class="w-full py-1 border shadow-lg bg-gray-50 rounded w-full -top-3 h-10 absolute">
                            <mat-option *ngFor="let member of memberAvailableToAdd" [value]="member.id">{{member.fullName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="!isShowAddMemberFormAnimationBtn" class="flex w-full items-center justify-center">
                    <button class="w-48 py-1 rounded bg-green-700 mb-2 text-white font-bold" type="submit">Add Member</button>
                </div>
                <div *ngIf="isShowAddMemberFormAnimationBtn" class="flex w-full items-center justify-center">
                    <div *ngIf="isShowAddMemberFormAnimationBtn" class="w-48 flex items-center justify-center px-3 py-1 rounded bg-green-700 mb-2"><mat-spinner [diameter]="25"></mat-spinner></div>
                </div>
            </form>
        </div>
    </div>

    <!-- Change Project Manager -->
    <div *ngIf="isShowAddManagerForm" class="fixed top-0 left-0 w-full h-full bg-transparent-black flex justify-center items-center">
        <div class="bg-white rounded w-96 flex flex-col">
            <form class="px-3" [formGroup]="projectManagerFormGroup" (ngSubmit)="submitChangeMember()">
                <div class="flex w-full justify-end">
                    <div class="p-2 font-bold hover:text-red-500 text-red-700 cursor-pointer" (click)="closeChangeManager()">X</div>
                </div>
                <small class="ml-9 py-1">Project Manager:</small>
                <div class="flex items-center justify-center">
                    <i class="fa-solid fa-person-chalkboard text-xl  lg:mx-3 mr-3"></i>
                    <mat-form-field class="w-full relative flex justify-center items-center h-12 relative">
                        <mat-select  formControlName="id" class="w-full py-1 border shadow-lg bg-gray-50 rounded w-full -top-3 h-10 absolute">
                            <mat-option *ngFor="let manager of managers" [value]="manager.id">{{manager.managerDetails.fullName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="!isShowChangeManagerFormAnimationBtn" class="flex w-full items-center justify-center">
                    <button class="w-48 py-1 rounded bg-green-700 mb-2 text-white font-bold" type="submit">Change Manager</button>
                </div>
                <div *ngIf="isShowChangeManagerFormAnimationBtn" class="flex w-full items-center justify-center">
                    <div class="w-48 flex items-center justify-center px-3 py-1 rounded bg-green-700 mb-2"><mat-spinner [diameter]="25"></mat-spinner></div>
                </div>
            </form>
        </div>
    </div>
</div>