<div class="grid w-full h-full">
    <div class="grid grid-cols-1 md:grid-cols-2 z-10 text-white">
        
        <div class="flex justify-center items-center relative">
            <i (click)="goBack()" class="pi pi-arrow-left cursor-pointer hover:bg-gray-700 top-8 left-8 m-3 border-2 shadow-md bg-transparent-black rounded-full absolute p-2"></i>
            <form [formGroup]="forgotpasswordForm" (ngSubmit)="submitResetRequest()" class="grid grid-cols-1">
                <label class="text-md font-bold ">Email:</label>
                <input formControlName="email" placeholder="Enter email..." type="text" class="w-20rem py-1 my-2 px-2 rounded bg-transparent border border-2 shadow-md">
                <button [disabled]="isSubmitting" class="my-1 py-2 w-20rem bg-blue-200 flex items-center hover:bg-green-400 hover:border-green-300 justify-center gap-2 text-black border-2 border-white  rounded font-bold">
                    Send <i *ngIf="!isSubmitting" class="pi pi-send text-xl font-bold"></i>
                    <i *ngIf="isSubmitting" class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                </button>
            </form>
        </div>

        <div class="flex hidden md:inline-flex flex-col justify-center items-center">
            <img src="../../../../assets/images/forgot-password2.png" class="w-10rem h-10rem" alt="">
            <h1 class="text-3xl my-2 font-bold text-green-300">Forgot password</h1>
            <p class="text-center w-20rem">It happens to the best of us. If you can't recall your password, simply enter your "email" to get back on track.</p>
        </div>
    </div>
    <img src="../../../../assets/images/abstract.avif" class="w-full h-full -z-40 absolute top-0 left-0 " alt="">
</div>