<div class="h-5/6  mx-1 mt-2 overflow-y-scroll overflow-x-hidden">
<!-- Projects Created -->
<div class="grid w-full">
    <div *ngIf="fakeArray" class="flex items-center pt-4">
      <div class="flex font-bold ml-5">
        <h2 class="bg-purple-900 text-white rounded py-1 px-3 shadow-lg">
          Projects Created:
        </h2>
      </div>
    </div>
    <div
      class="flex h-full overflow-x-scroll overflow-y-hidden"
    >
    <div class="flex justify-center  gap-2 py-5 mt-2" *ngFor="let _ of fakeArray">
      <div
        class="flex flex-col w-48 p-2 rounded m-1 shadow-md"
        id="card-outline" 
      >
        <h2 class="font-bold mb-2 text-center truncate">
          Lorem, ipsum dolor.
        </h2>
        <div class="h-full">
          <app-canvas></app-canvas>
        </div>
        <button
          class="font-bold py-2 m-1 bg-green-500 hover:bg-green-400 rounded"
        >
          VISIT
        </button>
      </div>
    </div>
  </div>
    <div *ngIf="!fakeArray.length" id="Empty" class="flex font-bold text-2xl items-center w-100 justify-center pt-4">
      <div>NO PROJECT CREATED</div>
    </div>
</div>

      <!-- project joined -->

<div class="grid w-full">
        <div *ngIf="fakeArray2" class="flex items-center pt-4">
          <div class="flex font-bold ml-5">
            <h2 class="bg-purple-900 text-white rounded py-1 px-3 shadow-lg">
              Projects Joined:
            </h2>
          </div>
        </div>
        <div
          class="flex h-full overflow-x-scroll overflow-y-hidden"
        >
          <div class="flex justify-center  gap-2 py-5 mt-2" *ngFor="let _ of fakeArray2">
            <div
              class="flex flex-col w-48 p-2 rounded m-1 shadow-md"
              id="card-outline" 
            >
              <h2 class="font-bold mb-2 text-center truncate">
                Lorem, ipsum dolor.
              </h2>
              <div class="h-full">
                <app-canvas></app-canvas>
              </div>
              <button
                class="font-bold py-2 m-1 bg-green-500 hover:bg-green-400 rounded"
              >
                VISIT
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!fakeArray2.length"  id="Empty" class="flex font-bold text-2xl items-center w-100 justify-center pt-4">
          <div>COLLABORATE TO OTHERS</div>
        </div>
</div>

</div>