<div class="w-full h-full">
    <div class="flex w-full">
        <div class="grid grid-cols-2 border-b-2 border-black w-full bg-gray-200">
            <div (click)="switch('chart')" [ngClass]="isSwitch ? 'grid w-full text-white bg-purple-700 cursor-pointer  border-r border-black' : 'grid w-full hover:bg-purple-300 cursor-pointer  border-r border-black'">
                <p class="flex m-auto text-center">Chart</p>
            </div>
            <div (click)="switch('')" [ngClass]="!isSwitch ? 'grid w-full text-white bg-purple-700 cursor-pointer  border-l border-black' : 'grid w-full hover:bg-purple-300 cursor-pointer  border-l border-black'">
                <p class="flex m-auto text-center ">Data</p>
            </div>
        </div>
    </div>
    <app-header [section]="'PERT Chart'"></app-header>


    <!-- gantt chart  -->

    <div *ngIf="isSwitch" class="grid grid-cols-1 gap-2 mb-3">
        <select (change)="changeDate($event.target)" class="flex w-40 border-2 py-2 shadow-lg rounded ml-5 outline-none">
            <option value="Day">Day</option>
            <option value="Quarter Day">Quarter Day</option>
            <option value="Half Day">Half Day</option>
            <option value="Week">Week</option>
            <option value="Month">Month</option>
            <option value="Year">Year</option>
        </select>
    </div>

    <div *ngIf="isSwitch" class="w-full h-full flex items-center justify-center px-3">
        <div id="gantt-container" class="w-full h-full border-2 shadow-lg rounded">
            <svg id="gantt"></svg>
        </div>
    </div>
    <!-- data -->
    <div *ngIf="!isSwitch" class="w-full">
            <!-- to avoid throwing error if svg not found in switch content -->
            <svg class="hidden" id="gantt"></svg>

            <input class="border-2 outline-none md:w-96 w-full shadow-lg rounded bg-gray-50 mb-2 ml-0 md:ml-4" (keyup)="applyFilter($event)" placeholder="Search data..." #input>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
           
            <!-- Position projectName -->
            <ng-container matColumnDef="projectName">
              <th mat-header-cell *matHeaderCellDef> Project Name </th>
              <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
            </ng-container>
          
            <!-- Name duration -->
            <ng-container matColumnDef="duration">
              <th mat-header-cell *matHeaderCellDef> Duration</th>
              <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
            </ng-container>
          
            <!-- Weight Slack -->
            <ng-container matColumnDef="slack">
              <th mat-header-cell *matHeaderCellDef> SLack</th>
              <td mat-cell *matCellDef="let element"> {{element.slack}} </td>
            </ng-container>
          

            <!-- Symbol Early Start -->
            <ng-container matColumnDef="ES">
              <th mat-header-cell *matHeaderCellDef>Early Start</th>
              <td mat-cell *matCellDef="let element"> {{element.ES}} </td>
            </ng-container>

            <!-- Symbol Early Finish -->
            <ng-container matColumnDef="EF">
                <th mat-header-cell *matHeaderCellDef>Early Finish</th>
                <td mat-cell *matCellDef="let element"> {{element.EF}} </td>
            </ng-container>

            <!-- Symbol latest start -->
            <ng-container matColumnDef="LS">
                <th mat-header-cell *matHeaderCellDef>Latest Start</th>
                <td mat-cell *matCellDef="let element"> {{element.LS}} </td>
            </ng-container>

            <!-- Symbol latest finish -->
            <ng-container matColumnDef="LF">
                <th mat-header-cell *matHeaderCellDef>Latest Finish</th>
                <td mat-cell *matCellDef="let element"> {{element.LF}} </td>
            </ng-container>
            
            <!-- Symbol pessimistic -->
            <ng-container matColumnDef="pessimistic">
                <th mat-header-cell *matHeaderCellDef>Pessimistic</th>
                <td mat-cell *matCellDef="let element"> {{element.pessimistic}} </td>
            </ng-container>

            <!-- Symbol mostLikely -->
            <ng-container matColumnDef="mostLikely">
                <th mat-header-cell *matHeaderCellDef>Most Likely</th>
                <td mat-cell *matCellDef="let element"> {{element.mostLikely}} </td>
            </ng-container>


            <!-- Symbol optimistic -->
            <ng-container matColumnDef="optimistic">
                <th mat-header-cell *matHeaderCellDef>Optimistic</th>
                <td mat-cell *matCellDef="let element"> {{element.optimistic}} </td>
            </ng-container>


            <!-- Symbol variance -->
            <ng-container matColumnDef="variance">
                <th mat-header-cell *matHeaderCellDef>Variance</th>
                <td mat-cell *matCellDef="let element"> {{element.variance}} </td>
            </ng-container>
            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="11">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>          
    </div>





</div>