#container{
    outline:0.1px solid rgba(0,0,0,.09);
}
#input-design-dependency,
#input-design{
    border:1px solid rgba(0,0,0,.1);
    text-indent: 10px;
}

input{
  color:black
}

p {
    font-family: Lato;
  }

  #gantt-container{
    z-index: -1;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: red;
  }




