#createProjectContainer:hover{
    background-color:rgba(255,255,255,.2);
    box-shadow: 1px 1px 3px rgba(255,255,255,.5);
}

#CreateProject{
    background-color: rgba(255,255,255,.6);
}

#formContainer{
    width:60vw;
    height: 37rem;
}

textarea,
input{
    color:black;
    outline: none;
}

input{
    text-indent: 10px;
}

.not-empty-select.mat-selected {
    color: black !important;
  }
  
  :host /deep/ .mat-select-value-text {
    color: black !important;
  }