<div  class="flex gap-2 mx-2 flex-col overflow-y-scroll h-5/6">
    <ol class="grid grid-cols-5 w-full bg-purple-900 text-white rounded py-1">
        <li class="flex justify-center items-center">Task name</li>
        <li class="flex justify-center items-center">Dependency</li>
        <li class="flex justify-center items-center">Duration</li>
        <li class="flex justify-center items-center">Budget</li>
        <li class="flex justify-center items-center">Options</li>
    </ol>
    <ol id="task" *ngFor="let task of tasks" class="grid grid-cols-5 w-full py-1">
        <li class="flex justify-center items-center">{{task.task_name}}</li>
        <li class="flex justify-center items-center">{{task.dependency}}</li>
        <li class="flex justify-center items-center">{{task.duration}}</li>
        <li class="flex justify-center items-center">{{task.budget}}</li>
        <li class="flex justify-center items-center">
            <div class="px-1 flex justify-center items-center cursor-pointer" (click)="deleteTask(task.id)"><mat-icon class="text-red-500 ">delete_forever</mat-icon></div>
            <div class="px-1 flex justify-center items-center cursor-pointer" (click)="updateTask(task.id)"><mat-icon class="text-green-500">edit</mat-icon></div>
        </li>
    </ol>
</div>
