<div class="grid grid-rows-1 md:flex md:h-full md:flex-row -z-2">
    <div class="flex flex-col shadow-lg md:text-clip overflow-x-scroll bg-white" id="profile">
        <div class="bg-gray-500 md:h-48 py-1 hidden md:flex flex-col justify-items-center items-center">
            <img class="h-12 w-12 md:w-40 md:h-40 rounded-full" [src]="details.User.image ? baseUrl+'/users/profiles/'+details.User.image : path" alt="">
            <div><p class=" break-all text-white text-sm md:text-md">{{name}}</p></div>
        </div>
        <ol *ngIf="!isUserProfileIsOwner" class="grid md:border grid-cols-2 gap-4 p-3">
            <li (click)="sendFriendRequest()" *ngIf="status == 'Add Friend'" class="flex cursor-pointer justify-items-center items-center hover:text-purple-900 m-auto">
                <mat-icon >group_add</mat-icon><small class="pl-2">Add Friend</small>
            </li>
            <li *ngIf="status == 'Pending'" (click)="cancelFriendRequest(request_id)" class="flex cursor-pointer justify-items-center items-center text-red-700 hover:text-red-500 m-auto">
                <mat-icon ><mat-icon>hourglass_full</mat-icon></mat-icon><small class="pl-2">Pending</small>
            </li>
            <li (click)="cancelFriendRequest(request_id)" *ngIf="status == 'Accepted'" class="flex cursor-pointer justify-items-center items-center text-green-700 hover:text-green-500 m-auto">
                <mat-icon ><mat-icon>check</mat-icon></mat-icon><small class="pl-2">Friends</small>
            </li>
            <li (click)="confirmFriendRequest()" *ngIf="status == 'Confirm'" class="flex cursor-pointer justify-items-center items-center text-green-700 hover:text-green-500 m-auto">
                <mat-icon ><mat-icon>hourglass_empty</mat-icon></mat-icon><small class="pl-2">Confirm</small>
            </li>
            <li routerLink="/dashboard/messages/{{details.User.email}}" class="flex cursor-pointer justify-items-center items-center hover:text-purple-900 m-auto">
                <mat-icon>textsms</mat-icon><small class="pl-2">Message</small>
            </li>
        </ol>
        <ol class="hidden md:grid lg:grid-rows-4 md:grid-cols-1 grid-cols-2 grid-rows-2 gap-6 p-2">
            <li class="flex justify-items-center items-center">
                <mat-icon class="flex justify-items-center items-center">create_new_folder</mat-icon><small class="pl-2">Project Created:</small>
                <small class="pl-1">{{details.project_count}}</small>
            </li>
            <li class="flex justify-items-center items-center">
                <mat-icon>folder_shared</mat-icon><small class="pl-2">Project Joined:</small>
                <small class="pl-1">1000</small>
            </li>
            <li class="flex justify-items-center items-center">
                <mat-icon>whatshot</mat-icon><small class="pl-2">Joined:</small>
                <small class="pl-1">{{date_joined}}</small>
            </li>
            <li class="flex justify-items-center items-center">
                <mat-icon> where_to_vote</mat-icon><small class="pl-2">From:</small>
                <small class="pl-1">{{details.User.address}}</small>
            </li>
        </ol>
    </div>
    <div class="flex flex-col w-full overflow-y-auto" id="content">
        <div class="mt-4">
            <h2><small class="bg-purple-900 ml-4  text-white rounded py-2 px-5 m-1">FeedBack:</small></h2>
            <form class="px-4" *ngIf="!isUserProfileIsOwner" (ngSubmit)="onSubmit()" [formGroup]="content">
                <input formControlName="feedback_content" id="feedback-input" type="text" class="py-2 rounded shadow-md mt-4 w-full px-5" placeholder="Let me know what you think of me!">
            </form>
        </div>
        <div class="border-2 mx-4 rounded shadow-md my-3 p-2 " *ngFor="let feeds of list_of_feedback">
            <div class="flex justify-between ">
                <div class="flex mb-2 align-center items-center cursor-pointer" routerLink="/dashboard/profile/{{feeds.owner_of_feedback.email}}">
                    <img class="h-12 w-12 shadow-md rounded-full border-2 border-green-500" [src]="feeds.owner_of_feedback.image ? baseUrl+'/users/profiles/'+feeds.owner_of_feedback.image : path" alt="profile" />
                    <small class="pl-3">{{feeds.owner_of_feedback.full_name ? feeds.owner_of_feedback.full_name :feeds.owner_of_feedback.email }}</small>
                    <div class="px-1">|</div>
                    <small class="text-gray-500">{{feeds.created_at | date:'fullDate'}}</small>
                </div>
                <div *ngIf="currentUserEmail == feeds.owner_of_feedback.email" class="flex mb-2 align-center items-center">
                    <mat-icon class="text-lg text-green-500 hover:text-green-700" 
                    (click)="openUpdateForm(feeds.id)">create</mat-icon>
                    <mat-icon  (click)="onDelete(feeds.id)" class="text-lg text-red-500 hover:text-red-700">delete_forever</mat-icon>
                </div>
            </div>
            <hr/>
            <div class="py-2 px-3 break-all">{{feeds.feedback_content}}</div>
        </div>
    </div>
    <div *ngIf="isUpdateOpen" class="w-screen h-screen fixed top-0 left-0 z-2 bg-transparent-black grid justify-items-center items-center">
        <form method="POST" (ngSubmit)="onSubmitUpdate()" [formGroup]="updateForm" class="grid bg-white w-1/2 md:full p-2 rounded shadow-lg">
            <input type="text" class="shadow-md py-1" id="feedback-input" formControlName="feedback_content">
            <div class="grid grid-cols-2 mt-3 gap-2 text-white">
                <button type="submit" class="flex justify-center rounded align-center py-2 bg-green-700 hover:bg-green-500">UPDATE</button>
                <div class="flex justify-center rounded align-center py-2 bg-red-700 hover:bg-red-500" (click)="closeUpdateForm()">CANCEL</div>
            </div>
        </form>
    </div>
</div>

