<main class="grid h-full w-full">
    <!-- header -->
    <div class="grid w-full overflow-x-hidden">
        <div class="flex items-center w-full bg-gray-600 h-24 py-1 text-white p-3">
            <div class="flex relative border-2 border-green-500 bg-gray-800 rounded-full overflow-hidden" id="friend-profile">
                <img  class="bg-gray-500  shadow-sm" src="https://pbs.twimg.com/profile_images/1525302889606160384/xFfuzcJL_400x400.jpg" alt="user image"/>
            </div>
            <div class="px-3 w-56">
                <div>ashley </div>
                <small class="text-green-300">online 1min ago</small>
            </div>
        </div>
    </div>

    <div>
        message1
    </div>
</main>






















        <!--
        <div class="flex flex-col w-full h-96 overflow-y-scroll">
            <div class="w-full">
                <div class="ml-3 py-2 rounded  w-4/5 md:w-1/2">
                    <div class="flex item-center pl-3">
                        <div class="flex items-center">
                            <div class="px-2">alodia</div>
                        </div>
                    </div>
                    <div class="pl-3 ml-4 mt-1 rounded  py-2  bg-gray-300">
                        <p>
                            message here
                        </p>
                        <small class="text-green-300 bg-gray-500 px-2 rounded">sent: 1min</small>
                    </div>
                </div>
            </div>
        </div>
        <form class="flex w-full">
            <textarea class="rounded mb-1 ml-1" id="message-area"></textarea>
            <button class="flex justify-center hover:bg-red-300 hover:text-black pt-2 w-24 border-2 bg-black text-white rounded mb-1 ml-1">
                <mat-icon class="text-4xl">send</mat-icon>
            </button> 
        </form> -->