<main class="grid auto-rows-max h-full w-full">
    <!-- header -->
    <div class="grid w-full overflow-x-hidden">
        <div class="flex items-center w-full bg-gray-600 h-24 py-1 text-white p-3">
            <div 
            [class]="status == 'online' ?  'flex border-2 border-green-500 bg-gray-800 rounded-full overflow-hidden' : 'flex border-2 border-red-500 bg-gray-800 rounded-full overflow-hidden'"
            id="friend-profile">
                <img  class="w-full h-full bg-gray-500 shadow-sm" [src]="profileImageOfUserGoingToMessage" alt="user_profile"/>
            </div>
            <div class="px-3 w-56">
                <div class="w-full">{{nameOfUserGoingToMessage}}</div>
                <small class="status == 'online' ? 'text-green-300' : 'text-red-300'">{{status}}</small>
            </div>
        </div>
    </div>
    <div class="flex flex-col-reverse w-full overflow-y-scroll" id="message-container">
        <div *ngFor="let message of messages">
            <div [class]="message.sender.email != EmailOfUserGoingToMessage ?  'flex justify-end' : 'flex'">
                <div class="w-full md:w-1/2 mx-3">
                    <div class="flex items-center p-2">
                            <img class="rounded-full" [src]="message.sender.image ? domain+'/users/profiles/'+message.sender.image : image_default" alt="profile" id="friend-profile-ms"/>
                            <p class="ml-3 w-40 truncate">{{message.sender.full_name ? message.sender.full_name : message.sender.email}}</p>
                            <p class="px-3">|</p>
                            <small> {{message.sent | date:'medium'}}</small>
                    </div>
                    <p [class]="message.sender.email != EmailOfUserGoingToMessage ? 'rounded shadow-md ml-2 mb-2 p-3 bg-blue-400' : 'rounded shadow-md ml-2 mb-2 p-3 bg-gray-200'">
                        {{message.message}}
                    </p>
                </div>
            </div>
        </div>  
        <div class="flex w-full h-full justify-center items-center" *ngIf="!messages.length">
            <p class="text-xl font-extrabold drop-shadow-md shadow-blue-600/50">No Conversion!</p>
        </div>
    </div>
    <form class="grid gap-3 mx-2 grid-cols-5 fixed bottom-2 w-full h-12" (ngSubmit)="onSubmit()" [formGroup]="sendMessage">
        <input formControlName="message" class="col-span-4 h-full w-full rounded shadow-md bg-red-200" id="message-input"/>
        <button class="bg-green-700 mr-5 rounded text-white hover:bg-green-500 hover:text-black border border-black">
            <mat-icon class="text-xl md:text-3xl">send</mat-icon>
        </button>
    </form>
</main>