<div class="flex flex-col w-full h-full overflow-x-scroll">
    <div class="p-3 flex w-full justify-between md:items-center md:flex-row flex-col"> 
        <div class="flex justify-center items-center p-2 ">
            <app-button-aside-open></app-button-aside-open>
            <div class="text-2xl font-bold">Managers</div>
        </div> 
        <div class="flex h-8 justify-between rounded items-center shadow-md" id="search-container">
            <input type="text" class=" ml-2" placeholder="Search..." id="search"/>
            <i class="fa-sharp fa-solid fa-magnifying-glass px-1 text-md mr-2"></i>
        </div>
    </div>
    <div class="flex">
        <div (click)="showCreateManager()" [ngClass]="isShowCreateManager  ? 'flex items-center ml-5 mt-2 cursor-pointer bg-red-700 hover:bg-red-500 px-3 py-2 text-white rounded' : 'flex items-center ml-5 mt-2 cursor-pointer bg-purple-700 hover:bg-purple-500 px-3 py-2 text-white rounded'">
            <i class="fa-solid fa-chalkboard-user"></i><small class="ml-2">Create Project Manager</small>
        </div>
        <div (click)="showCategoryForm()" [ngClass]="isShowCategoryForm ? 'flex items-center ml-5 mt-2 cursor-pointer bg-red-700 hover:bg-red-500 px-3 py-2 text-white rounded' : 'flex items-center ml-5 mt-2 cursor-pointer bg-purple-700 hover:bg-purple-500 px-3 py-2 text-white rounded'">
            <i class="fa-solid fa-layer-group"></i> <small class="ml-2">Create Category</small>
        </div>
    </div>
    <div *ngIf="isShowCreateManager" class="flex md:flex-row flex-col w-full h-full">
        <div class="w-full md:w-3/5">

            
            <!-- create project manager -->
            
            <form class="grid gap-3 p-3 border shadow-lg ml-2 mt-6 rounded" action="POST" [formGroup]="managerFormGroup" (ngSubmit)="submitManager()">
                    <h2 class="py-2 font-bold flex justify-center items-center mt-5">ASSIGN PROJECT MANAGER</h2>
                    <div class="flex flex-col justify-center">
                        <small class="ml-12">Select category: </small>
                        <div class="flex justify-center items-center">
                            <i class="fa-solid fa-object-ungroup text-xl  lg:mx-3 mr-3"></i>
                            <mat-form-field class="w-full relative  flex justify-center items-center h-12 relative">
                                <mat-select formControlName="categoryId" class="w-full py-1 shadow-lg border bg-gray-50 rounded w-full -top-3 h-10 absolute">
                                <mat-option *ngFor="let category of categories" [value]="category.id">{{category.fullName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center">
                        <small class="ml-12">Select project Manager: </small>
                        <div class="flex justify-center items-center">
                            <i class="fa-solid fa-person-chalkboard text-xl  lg:mx-3 mr-3"></i>
                            <mat-form-field class="w-full relative  flex justify-center items-center h-12 relative">
                                <mat-select formControlName="managerId" class="w-full py-1 shadow-lg border bg-gray-50 rounded w-full -top-3 h-10 absolute">
                                  <mat-option *ngFor="let member of available_members" [value]="member.id">{{member.fullName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <button *ngIf="!isLoadingManagerBtn" type="submit" class="w-40 mx-auto bg-green-700 py-1 hover:bg-green-500 text-white rounded" >SUBMIT</button>
                    <button *ngIf="isLoadingManagerBtn" class="flex justify-center items-center px-12 rounded text-white shadow-md  py-1 bg-green-500 text-white rounded w-40 m-auto" disabled>
                    <mat-spinner [diameter]="25"></mat-spinner>
                </button>
            </form>
        </div>
        <div class="w-full h-full  mx-3">
            <div class="flex justify-center items-center font-bold">Managers</div>
            <table class="w-full rounded shadow-md">
                <tr class="grid grid-cols-5 bg-gray-300 rounded-t">
                    <th class="p-1"><small>Category</small></th>
                    <th class="p-1"><small>Manager</small></th>
                    <th class="p-1 col-span-2"><small>Designation</small></th>
                    <th class="p-1"><small>Modify</small></th>
                </tr>
                <tr id='rowChangerBg' class='grid grid-cols-5 gap-1' *ngFor="let manager of managers">
                    
                    <!-- edit form  -->
                    <td *ngIf="selectEditTriggerById == manager.id" class="grid col-span-5">
                        <form [formGroup]="editProjectManager" class="grid grid-cols-5 gap-1">
                            <mat-form-field class="w-full relative  flex justify-center items-center h-12 relative">
                                <mat-select formControlName="categoryId"  class="w-full py-1 shadow-lg border bg-gray-50 rounded w-full -top-3 h-10 absolute">
                                <mat-option *ngFor="let category of categories" [value]="category.id">{{category.fullName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field  class="w-full relative  flex justify-center items-center h-12 relative">
                                <mat-select formControlName="managerId"  class="w-full py-1 shadow-lg border bg-gray-50 rounded w-full -top-3 h-10 absolute">
                                  <mat-option *ngFor="let member of members" [value]="member.id" >{{member.fullName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="grid col-span-2 grid-cols-4">
                                <div class="flex flex-col items-center justify-center">
                                    <input class="pr-2" formControlName="create" type="checkbox"/><small class="text-xs" >Create</small>
                                </div>
                                <div class="flex flex-col items-center justify-center">
                                    <input class="pr-2" formControlName="update" type="checkbox"/><small class="text-xs">Update</small>
                                </div>
                                <div class="flex flex-col items-center justify-center">
                                    <input class="pr-2" formControlName="read" type="checkbox"/><small class="text-xs">Read</small>
                                </div>
                                <div class="flex flex-col items-center justify-center">
                                    <input class="pr-2" formControlName="delete" type="checkbox"/><small class="text-xs">Delete</small>
                                </div>
                            </div>
                            <div class="grid grid-cols-3">
                                <i *ngIf="selectEditTriggerById == manager.id" (click)="saveEditManager()"  class="fa-solid fa-floppy-disk flex justify-center items-center text-blue-700 hover:text-blue-500 cursor-pointer"></i>
                                <i (click)="cancelEditManger()" class="fa-sharp fa-solid fa-ban flex justify-center items-center text-red-700 hover:text-red-900 cursor-pointer"></i>
                                <i (click)="deleteManager(manager.id,manager.managerDetails.fullName)" class="fa-solid fa-trash flex justify-center items-center text-red-700 hover:text-red-500 cursor-pointer"></i>
                            </div>
                        </form>
                    </td>
                    <td *ngIf="selectEditTriggerById != manager.id && !isLoadingMangerAnimation" class="m-1">{{manager.categoryDetails.fullName}}</td>
                    <td *ngIf="selectEditTriggerById != manager.id && !isLoadingMangerAnimation" class="m-1">{{manager.managerDetails.fullName}}</td>
                    <ngx-skeleton-loader *ngIf="isLoadingMangerAnimation" class="grid w-full mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="isLoadingMangerAnimation" class="grid w-full mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                    <td *ngIf="selectEditTriggerById != manager.id && !isLoadingMangerAnimation" class="grid grid-cols-4 m-1 col-span-2">
                        <div class="flex flex-col items-center justify-center">
                            <input class="pr-2" type="checkbox" disabled [checked]="manager.create"/><small class="text-xs">Create</small>
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <input class="pr-2" type="checkbox" disabled [checked]="manager.update"/><small class="text-xs">Update</small>
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <input class="pr-2" type="checkbox" disabled [checked]="manager.read"/><small class="text-xs">Read</small>
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <input class="pr-2" type="checkbox" disabled [checked]="manager.delete"/><small class="text-xs">Delete</small>
                        </div>
                    </td>
                    <td *ngIf="isLoadingMangerAnimation" class="grid grid-cols-4 place-items-center-4 col-span-2 gap-2">
                        <ngx-skeleton-loader class="grid w-full mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                        <ngx-skeleton-loader class="grid w-full mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                        <ngx-skeleton-loader class="grid w-full mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                        <ngx-skeleton-loader class="grid w-full mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                    </td>
                    <td *ngIf="selectEditTriggerById != manager.id && !isLoadingMangerAnimation"  class="grid grid-cols-2 items-center">
                        <i (click)="editFormShow(manager.id)" class="fa-solid fa-pencil flex justify-center items-center text-gray-700 hover:text-gray-500 cursor-pointer"></i>
                        <i (click)="deleteManager(manager.id,manager.managerDetails.fullName)" class="fa-solid fa-trash flex justify-center items-center text-red-700 hover:text-red-500 cursor-pointer"></i>
                    </td>
                    <td *ngIf="isLoadingMangerAnimation" class="grid grid-cols-2 gap-1 items-center">
                        <ngx-skeleton-loader class="flex m-auto w-8 mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                        <ngx-skeleton-loader class="flex m-auto w-8 mt-2" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    

    <!-- create category -->
    <div *ngIf="isShowCategoryForm" class="flex md:flex-row flex-col w-full h-full">
        <div class="flex flex-col md:w-3/4 w-full h-full mt-3">
            <form [formGroup]="categoryFormGroup" (ngSubmit)="submitCategory()"   action="POST" class="flex flex-col justify-center px-3 mt-3 pb-3  mx-4  rounded border shadow-lg">
                <h2 class="py-2 font-bold flex justify-center items-center mt-5">CREATE CATEGORY</h2>
                <small class="ml-9 py-2">Category Name:</small>
                <div class="flex items-center">
                    <i class="fa-solid fa-file-lines text-xl mr-3 px-1"></i>
                    <input formControlName="fullName" placeholder="Enter project name" class="w-full py-1 border shadow-lg bg-gray-50 rounded" id="outline"/>
                </div>
                <small class="ml-9 py-2">Description:</small>
                <div class="flex items-center">
                    <i class="fa-solid fa-book-open-reader text-xl mr-3"></i>
                    <textarea formControlName="description" placeholder="Project Description" class="w-full border h-48 py-1 shadow-lg bg-gray-50 rounded" id="outline"></textarea>
                </div>
                <button *ngIf="!isLoadingCategoryBtn" class="w-40 mx-auto mt-5 bg-green-700 py-1 hover:bg-green-500 text-white rounded" >SUBMIT</button>
                <button *ngIf="isLoadingCategoryBtn" class="flex w-40 m-auto justify-center items-center px-12 rounded text-white shadow-md mt-5 py-1 bg-green-500 text-white rounded" disabled>
                    <mat-spinner [diameter]="25"></mat-spinner>
                </button>
            </form>
        </div>
        <div class="w-full h-full  mx-3">
            <div class="flex justify-center items-center font-bold">Categories</div>
            <table class="w-full rounded shadow-md">
                <tr class="grid grid-cols-3 bg-gray-300 rounded-t">
                    <th class="p-1"><small>Name</small></th>
                    <th class="p-1"><small>Description</small></th>
                    <th class="p-1"><small>Modify</small></th>
                </tr>
                <tr  id="rowChangerBg" class='grid gird-rows-1' *ngFor="let category of categories">
                    <div *ngIf="category.id!=selectEditTriggerByIdCategory && !isLoadingCategoryAnimation" class="grid  grid-cols-3">
                        <td class="m-1">{{category.fullName}}</td>
                        <td class="m-1">{{category.description}}</td>
                        <td class="grid grid-cols-2 m-1">
                            <i (click)="editFormShowCategory(category.id)" class="fa-solid fa-pencil flex justify-center items-center text-gray-700 hover:text-gray-500 cursor-pointer"></i>
                            <i (click)="deleteCategory(category.id,category.fullName)" class="fa-solid fa-trash flex justify-center items-center text-red-700 hover:text-red-500 cursor-pointer"></i>
                        </td>
                    </div>
                    <td class="grid  grid-cols-1">
                        <form [formGroup]="editCategory" *ngIf="category.id==selectEditTriggerByIdCategory" action="POST" class="grid grid-cols-3 ">
                            <input formControlName="fullName" [value]="category.fullName" class="m-1 border rounded">
                            <input formControlName="description" [value]="category.description" class="m-1 border rounded">
                            <div class="grid grid-cols-3 m-1">
                                <i (click)="saveEditCategory()" class="fa-solid fa-floppy-disk flex justify-center items-center text-blue-700 hover:text-blue-500 cursor-pointer"></i>
                                <i (click)="cancelEditCategory()" class="fa-sharp fa-solid fa-ban flex justify-center items-center text-red-700 hover:text-red-900 cursor-pointer"></i>
                                <i (click)="deleteCategory(category.id,category.fullName)" class="fa-solid fa-trash flex justify-center items-center text-red-700 hover:text-red-500 cursor-pointer"></i>
                            </div>
                        </form>
                    </td>
                    <td *ngIf="isLoadingCategoryAnimation" class="grid grid-cols-3 gap-2 w-full place-items-center">
                        <ngx-skeleton-loader class="grid w-full mt-1" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                        <ngx-skeleton-loader class="grid w-full mt-1"   [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                        <ngx-skeleton-loader class="grid w-full mt-1" [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="isDeleteManagerShow" class="fixed top-0 left-0 w-full h-full bg-transparent-black flex justify-center items-center">
        <div class="bg-white rounded w-96 h-28 flex flex-col">
            <div class="flex justify-around py-3 font-bold items-center">Are you sure you want to remove {{projectManager}} ?</div>
            <hr class="mb-5"/>
            <div class="flex justify-around items-center">
                <div *ngIf="!isDeleteBtnLoading" (click)="deleteManagerCommit()" class="flex py-1 px-5 border rounded shadow-lg bg-green-700 hover:bg-green-500 cursor-pointer text-white">YES</div>
                <div *ngIf="isDeleteBtnLoading" class="flex py-1 px-5 border rounded shadow-lg bg-green-700 hover:bg-green-500 cursor-pointer text-white"><mat-spinner [diameter]="25"></mat-spinner></div>
                <div class="flex py-1 px-5 border rounded shadow-lg bg-red-700 hover:bg-red-500 cursor-pointer text-white" (click)="closeNotification()">NO</div>
            </div>
        </div>
    </div>
    <div *ngIf="isDeleteCategoryShow" class="fixed top-0 left-0 w-full h-full bg-transparent-black flex justify-center items-center">
        <div class="bg-white rounded w-96 h-28 flex flex-col">
            <div class="flex justify-around py-3 font-bold items-center">Are you sure you want to remove {{categoryName}} ?</div>
            <hr class="mb-5"/>
            <div class="flex justify-around items-center">
                <div *ngIf="!isDeleteBtnLoading_category" (click)="deleteCategoryCommit()" class="flex py-1 px-5 border rounded shadow-lg bg-green-700 hover:bg-green-500 cursor-pointer text-white">YES</div>
                <div *ngIf="isDeleteBtnLoading_category" class="flex py-1 px-5 border rounded shadow-lg bg-green-700 hover:bg-green-500 cursor-pointer text-white"><mat-spinner [diameter]="25"></mat-spinner></div>
                <div class="flex py-1 px-5 border rounded shadow-lg bg-red-700 hover:bg-red-500 cursor-pointer text-white" (click)="closeNotificationCategory()">NO</div>
            </div>
        </div>
    </div>
</div>