
#toDeleteContainer{
    background-color: rgba(255,255,255,.6);
}

#files-container{
    height: 35rem;
    width:40rem;
}

#uploaded-files-container{
    min-height: 27rem;
    margin-top: 20px;
    max-height: 27rem;
}