<main class="grid w-100 overflow-x-hidden">
  <div
    class="w-100 shadow-lg flex justify-center text-center h-40 text-white items-center text-2xl font-bold bg-red-400"
  >
    <img
      src="./assets/images/title.png"
      class="h-full w-100 pt-3 px-3 md:px-0"
      alt="profile"
    />
  </div>
  <div class="grid md:grid-cols-2 grid-cols-1 w-full gap-2">
    <div class="grid w-full">
      <div class="flex xl:pt-10 items-center flex-col w-full h-full px-3">
        <p class="pb-2 w-4/5 font-bold md:text-4xl text-xl">
          Unity is strength.<br />when there is teamwork and collaboration,
          wonderful things can achieved.
        </p>
        <p class="w-4/5 pb-5">
          Unlock the potential of your team and organize your project by using
          the powerful apps that track everyone activities.
        </p>
        <button
          (click)="openLogin()"
          class="shadow-lg m-1 px-8 py-3 bg-green-700 rounded text-white font-bold hover:bg-green-500"
        >
          JOIN NOW
        </button>
      </div>
    </div>
    <img
      src="./assets/images/management.png"
      class="hidden md:block w-full h-full px-3"
      alt="management-icon"
    />
  </div>

  <!-- login -->
  <div
    *ngIf="isJoin && isLogin"
    class="grid fixed grid-cols-1 grid-rows-1 md:grid-cols-3 md:grid-rows-7 bg-transparent-black w-full h-full place-content-center"
  >
    <div
      class="grid grid-cols-1 bg-white md:rounded md:col-start-2 md:row-start-1 row-span-5 md:my-10 h-100 md:w-100 place-content-center"
    >
      <div id="x" class="flex justify-end">
        <span
          class="text-red-700 font-bold hover:text-red-500 text-xl cursor-pointer p-1 mr-5"
          (click)="openLogin()"
          ><i class="fa-regular fa-x"></i
        ></span>
      </div>
      <h3 class="flex justify-center item-center font-bold text-2xl mb-3">
        LOGIN
      </h3>
      <form
        method="POST"
        class="grid mx-4 gap-4 w-100"
        [formGroup]="formLogin"
        (ngSubmit)="onSubmitLogin()"
      >
        <label class="text-sm">Email:</label>
        <small
          *ngIf="
            formLogin.get('username')?.invalid &&
            formLogin.get('username')?.value
          "
          class="text-red-600"
        >
          Invalid Email
        </small>
        <input
          class="shadow-md py-2 rounded"
          formControlName="username"
          placeholder="Enter Your Email"
          type="email"
          required
        />
        <label class="text-sm">Password:</label>
        <input
          class="shadow-md py-2 rounded"
          formControlName="password"
          placeholder="Enter Your Password"
          [type]="isShow ? 'text' : 'password'"
          required
        />
        <div class="flex font-bold align-center">
          <input type="checkbox" class="mx-2" (click)="showPassword()" />
          <label class="flex align-center"
            ><small> Show Password </small></label
          >
        </div>
        <button
          *ngIf="!isSubmit"
          class="flex justify-self-center text-center items-center justify-center py-3 rounded text-white font-bold shadow-lg bg-green-700 w-3/5 hover:bg-green-500"
          type="submit"
        >
          LOGIN
        </button>
        <button
          *ngIf="isSubmit"
          class="flex justify-self-center text-center items-center justify-center py-3 rounded text-white font-bold shadow-lg bg-green-700 w-3/5 hover:bg-green-500"
          type="submit"
          disabled
        >
          <mat-spinner [diameter]="25"></mat-spinner>
        </button>
      </form>
      <div class="mt-5 flex hover:text-blue-700 justify-end mr-5 text-blue-500">
        <p class="cursor-pointer" (click)="openRegister()">No account yet?</p>
      </div>
    </div>
  </div>

  <!-- register -->
  <div
    *ngIf="isJoin && !isLogin"
    class="grid fixed grid-cols-1 grid-rows-1 md:grid-cols-3 md:grid-rows-7 bg-transparent-black w-full h-full place-content-center"
  >
    <div
      class="grid grid-cols-1 bg-white md:rounded md:col-start-2 md:row-start-1 row-span-5 md:my-10 h-100 md:w-100 place-content-center"
    >
      <div id="x" class="flex justify-end">
        <span
          class="text-red-700 font-bold hover:text-red-500 text-xl cursor-pointer p-1 mr-5"
          (click)="openLogin()"
          ><i class="fa-regular fa-x"></i
        ></span>
      </div>
      <h3 class="flex justify-center item-center font-bold text-2xl mb-3">
        SIGN UP
      </h3>
      <form
        class="grid mx-4 gap-4 w-100"
        [formGroup]="formRegister"
        (ngSubmit)="onSubmitRegister()"
      >
        <label class="text-sm">Email:</label>
        <small
          *ngIf="
            formRegister.get('email')?.invalid &&
            formRegister.get('email')?.value
          "
          class="text-red-600"
        >
          Invalid Email
        </small>
        <input
          class="shadow-md py-2 rounded"
          formControlName="email"
          placeholder="Enter Your Email"
          type="email"
          required
        />
        <label class="text-sm">Password:</label>
        <input
          class="shadow-md py-2 rounded"
          formControlName="password"
          placeholder="Enter Your Password"
          type="password"
          required
        />
        <label class="text-sm">Confirm Password:</label>
        <small
          *ngIf="!isPasswordMatch && formRegister.value.confirmPassword"
          class="text-red-600"
        >
          Password & Confirm Password does not match
        </small>
        <input
          class="shadow-md py-2 rounded"
          (input)="passwordMatch()"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          type="password"
          required
        />
        <button
          *ngIf="!isSubmitRegister"
          class="flex justify-self-center text-center items-center justify-center py-3 rounded text-white font-bold shadow-lg bg-green-700 w-3/5 hover:bg-green-500"
        >
          REGISTER
        </button>
        <button
          *ngIf="isSubmitRegister"
          class="flex justify-self-center text-center items-center justify-center py-3 rounded text-white font-bold shadow-lg bg-green-700 w-3/5 hover:bg-green-500"
        >
          <mat-spinner [diameter]="25"></mat-spinner>
        </button>
      </form>
      <div class="mt-5 flex hover:text-blue-700 justify-end mr-5 text-blue-500">
        <p class="cursor-pointer" (click)="openRegister()">
          Already Have An Account?
        </p>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
