<div class="flex flex-col w-full h-full overflow-x-scroll">
    <app-header [section]="'Members'"></app-header>
    <div class="flex">
        <div (click)="registerFormBtn()" [ngClass]="isRegisterFormOpen ? 'flex cursor-pointer items-center justify-center bg-red-700 hover:bg-red-500 px-3 text-white rounded ml-5 mt-2' : 'flex cursor-pointer items-center justify-center bg-purple-700 py-2 hover:bg-purple-500 px-3 text-white rounded ml-5 mt-2'">
            <i class="fa-solid fa-user-plus mr-2"></i>
            <small>Add Member</small>
        </div>
        <form class="ml-5 mt-2" action="GET" [formGroup]="selectSortCategoryFormGroup" (change)="selectCategory()">
            <select formControlName="category"  style="outline:none;box-shadow:0px 0px 2px rgba(0,0,0,.9);" class="rounded shadow-lg py-2">
                <option value="All">All</option>
                <option value="Joined">Joined</option>
                <option value="Joining">Joining</option>
                <option value="Manager">Manager</option>
                <option value="Member">User</option>
            </select>
        </form>
    </div>


    <!-- add member -->
    <mat-vertical-stepper class="text-black bg-transparent" [linear]="false" #stepper *ngIf="isRegisterFormOpen">

        <!-- first Form -->

        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup" class="grid">
            <ng-template  matStepLabel><div class="text-black">Authentication Details</div></ng-template>
            <small class="ml-9 py-1">Email: <span *ngIf="firstFormGroup.controls['email'].invalid && firstFormGroup.controls['email'].value!=''" class="text-red-500">Invalid Email</span></small>
            <div class="flex">
                <i class="fa-solid fa-envelope text-xl mr-3"></i>
              <input placeholder="Enter Email" type="email" formControlName="email" class="w-full py-1 shadow-lg bg-gray-50 rounded" id="outline" required/>
            </div>
            <small class="ml-9 pt-1">Password: </small>
            <div class="flex my-1">
                <i class="fa-solid fa-key mr-4 text-xl mr-3"></i>
                <input placeholder="Enter Password" type="password" formControlName="password" class="w-full py-1 shadow-lg bg-gray-50 rounded" id="outline" />
            </div>
            <small class="ml-9 pt-1">Confirm Password:</small>
            <small *ngIf="firstFormGroup.controls['password'].value!=firstFormGroup.controls['password2'].value && firstFormGroup.controls['password2'].value!='' && firstFormGroup.controls['password'].value!=''" class="ml-9 text-red-500">Password & Confirm password not matched!</small>
            <div class="flex my-1">
                <i class="fa-solid fa-key mr-4 text-xl mr-3"></i>
                <input placeholder="Enter Confirm Password" type="password" formControlName="password2" class="w-full py-1 shadow-lg bg-gray-50 rounded" id="outline" />
            </div>
            <div class="flex pt-3 justify-center items-center ">
              <button class="bg-green-700 hover:bg-green-500 px-8 py-1 text-white rounded" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <!-- second form -->

        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup" enctype="multipart/form-data"  class="flex flex-col">
            <ng-template matStepLabel><div class="text-black">Personal Details</div></ng-template>
            <input class="hidden" formControlName="image" type="file" (change)="onChange($event)">
            <div class="w-full flex flex-col items-center mr-10">
                <div class="flex w-full relative items-center justify-center">
                    <img [src]="onLoadFile ? onLoadFile : defaultProfile" class="h-20 w-20 rounded-full shadow-lg border-2 border-blue-500" alt="profile">
                    <div class="absolute -bottom-2 ml-12">
                        <i (click)="imgProfileBtn()" class="fa-solid fa-camera text-xl bg-white px-1 shadow-md border-2 border-blue-700 hover:bg-gray-50 cursor-pointer rounded-full text-black"></i>
                    </div>
                </div>
            </div>
            <small class="ml-9 pt-1">Full Name</small>
            <div class="flex my-1">
                <mat-icon class="flex justify-center items-center mr-2" >face</mat-icon>
                <input placeholder="Full Name"  type="text" formControlName="fullName" class="w-full py-1 shadow-lg bg-gray-50 rounded" id="outline" />
            </div>
            <small class="ml-9 pt-1">Address</small>
            <div class="flex my-1">
                <mat-icon class="flex justify-center items-center mr-2" >location_on</mat-icon>
                <input placeholder="Address" type="text" formControlName="address" class="w-full py-1 shadow-lg bg-gray-50 rounded" id="outline" />
            </div>
            <small class="ml-9 pt-1">Birth Day</small>
            <div class="flex my-1">
                <div class="pt-1 mr-3 ml-1"><i class="fa-solid fa-calendar-days"></i></div>
                <input placeholder="Enter Your Birth Day" type="date" formControlName="birthDay" class="w-full py-1 shadow-lg bg-gray-50 rounded" id="outline" />
            </div>
            <small class="ml-9 pt-1">Gender</small>
            <div class="flex my-1">
                <div class="pt-1 mr-3 ml-1"><i class="fa-solid fa-venus-mars"></i></div>
                <select formControlName="gender"  id="outline" class="w-24 shadow-lg bg-gray-50 rounded">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            
            <div class="grid mt-4 grid-cols-3 grid-rows-1 gap-2">
              <button class="bg-red-700 py-1 hover:bg-red-500 text-white rounded" mat-button matStepperPrevious>Back</button>
              <button class="bg-yellow-700 py-1  hover:bg-yellow-500 text-white rounded" mat-button (click)="stepper.reset()">Reset</button>
              <button *ngIf="!isRegisterButton" (click)="submitRegister()" class="bg-green-700 py-1  hover:bg-green-500 text-white rounded" mat-button matStepperNext>Save</button>
              <button *ngIf="isRegisterButton"  class="flex justify-center items-center px-12 rounded text-white shadow-md  py-1 bg-green-500 text-white rounded" disabled>
                <mat-spinner [diameter]="25"></mat-spinner>
            </button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>



    <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-2 p-3 mt-2" *ngIf="members.length != 0" >
        <div class="shadow-lg  w-full h-full overflow-x-hidden rounded relative" id="card" *ngFor="let member of members">
            <div class="absolute grid">
                <small [ngClass]="member.details.isAdminApprove ? 'm-1 px-3 py-1 rounded bg-green-700 text-white ' : 'm-1 px-3 py-1 rounded bg-pink-700 text-white ' ">{{member.details.isAdminApprove ? 'Joined' : 'Joining'}}</small>
                <small [ngClass]="member.isManager ? 'm-1 px-3 py-1 rounded bg-yellow-700 text-white ' : 'm-1 px-3 py-1 rounded bg-gray-700 text-white ' ">{{member.isManager ? 'Manager' : 'User'}}</small>
            </div>
            <div class="flex justify-center items-center flex-col p-2">
                <img class="w-16 h-16 rounded-full shadow-lg border-2 border-blue-700" [src]="member.details.image ? hostingName+'/users/profiles/'+member.details.image : defaultProfile" alt="profile" />
                <p>{{member.details.fullName | titlecase}}</p>
            </div>

            <!-- joining button options-->

            <div *ngIf="!member.details.isAdminApprove" class="grid md:grid-cols-3 grid-cols-1 gap-2 py-2 px-3">
                <div routerLink="/dashboard/members/{{member.details.id}}"  class="flex justify-center cursor-pointer hover:text-black rounded text-white items-center py-2 px-3 hover:bg-blue-500 bg-blue-700">
                    <i class="fa-solid fa-eye"></i>
                    <small class="ml-2">view</small>
                </div>
                <div (click)="acceptMember(member.details.id)" class="flex justify-center cursor-pointer hover:text-black rounded text-white items-center py-2 px-3 hover:bg-green-500 bg-green-700" id="decline">
                    <i class="fa-sharp fa-solid fa-circle-check"></i>
                    <small *ngIf='member.details.id != spinnerAcceptTrigger' class="ml-2">accept</small>
                    <mat-spinner *ngIf='member.details.id == spinnerAcceptTrigger' class="ml-2" [diameter]="20"></mat-spinner>
                </div>
                <div (click)="decline(member.details.id)" class="flex justify-center cursor-pointer hover:text-black rounded text-white items-center py-2 px-3 hover:bg-red-500 bg-red-700" id="decline">
                    <i class="fa-solid fa-trash"></i>
                    <small *ngIf='member.details.id != spinnerDeclineTrigger' class="ml-2" >decline</small>
                    <mat-spinner *ngIf='member.details.id == spinnerDeclineTrigger' class="ml-2" [diameter]="20"></mat-spinner>
                </div>
            </div>

            <!-- joined button options -->
            <div *ngIf="member.details.isAdminApprove" class="grid md:grid-cols-2 grid-cols-1 gap-2 py-2 px-3">
                <div routerLink="/dashboard/members/{{member.details.id}}" class="flex justify-center cursor-pointer hover:text-black rounded text-white items-center py-2 px-3 hover:bg-blue-500 bg-blue-700">
                    <i class="fa-solid fa-eye"></i>
                    <small class="ml-2">view</small>
                </div>
                <div (click)="showNotification(member.details.id,member.details.fullName)" class="flex justify-center cursor-pointer hover:text-black rounded text-white items-center py-2 px-3 hover:bg-red-500 bg-red-700" id="decline">
                    <i class="fa-solid fa-user-slash"></i>
                    <small *ngIf='member.details.id != spinnerDeclineTrigger' class="ml-2" >remove</small>
                    <mat-spinner *ngIf='member.details.id == spinnerDeclineTrigger' class="ml-2" [diameter]="20"></mat-spinner>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center w-full h-full text-2xl" *ngIf="members.length == 0 && !loadingQuery">
        <p>No member(s) found</p>
    </div>
    <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-2 p-3 mt-2" *ngIf="loadingQuery" >
        <div class="grid p-3 rounded" id="card"  *ngFor="let fakeArray of loadingCardFakeArray"> 
            <ngx-skeleton-loader class="flex m-auto" animation="progress" count="1" appearance="circle" [theme]="{
                height: '70px',
                width:'70px',
                'background-color': '#A2ACA5',
                border: '1px solid white'
              }"></ngx-skeleton-loader>
            <!-- Uses `progress` as animation -->
            <ngx-skeleton-loader [theme]="{'background-color': '#A2ACA5'}" class="pl-5" animation="progress"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{'background-color': '#A2ACA5'}"></ngx-skeleton-loader>
        </div>
    </div>
    <div *ngIf="isDeleteMemberShow" class="fixed top-0 left-0 w-full h-full bg-transparent-black flex justify-center items-center">
        <div class="bg-white rounded w-96 flex flex-col">
            <div class="font-bold py-3 truncate pl-10">Are you sure you want to remove {{memberName}} ?</div>
            <hr class="mb-5"/>
            <div class="flex justify-around items-center pb-2">
                <div *ngIf="!loadingRemoveBtn" (click)="remove()"  class="flex py-1 px-5 border rounded shadow-lg bg-green-700 hover:bg-green-500 cursor-pointer text-white">YES</div>
                <div *ngIf="loadingRemoveBtn" class="flex py-1 px-5 border rounded shadow-lg bg-green-700 hover:bg-green-500 cursor-pointer text-white"><mat-spinner [diameter]="25"></mat-spinner></div>
                <div (click)="closeNotification()" class="flex py-1 px-5 border rounded shadow-lg bg-red-700 hover:bg-red-500 cursor-pointer text-white">NO</div>
            </div>
        </div>
    </div>
</div>