<div  class="flex flex-col h-screen shadow-lg bg-white" id="aside">
    <img class="w-full bg-red-500 relative" src="../../../assets/images/title.png" alt="logo" />
    <div class="grid grid-row-3 h-full">
        <ol class="grid grid-row-5 h-full ml-10 mt-3">
            <li routerLink="/dashboard/overview" (click)="AsideFocusPage('/dashboard/overview')"  [ngClass]=" nav == '/dashboard/overview' ? 'flex items-center font-bold pl-3 text-purple-700 cursor-pointer' : 'flex items-center font-bold pl-3 hover:text-purple-700 cursor-pointer'">
                <i class="fa-solid fa-house-chimney"></i><p class="ml-3">Dashboard</p>
            </li>
            <li routerLink="/dashboard/projects" (click)="AsideFocusPage('/dashboard/projects')" [ngClass]=" nav == '/dashboard/projects' ? 'flex items-center font-bold pl-3 text-purple-700 cursor-pointer' : 'flex items-center font-bold pl-3 hover:text-purple-700 cursor-pointer'">
                <i class="fa-solid fa-bars-progress"></i><p class="ml-3">Projects</p>
            </li>
            <li routerLink="/dashboard/timeline" (click)="AsideFocusPage('/dashboard/timeline')"   [ngClass]=" nav == '/dashboard/timeline' ? 'flex items-center font-bold pl-3 text-purple-700 cursor-pointer' : 'flex items-center font-bold pl-3 hover:text-purple-700 cursor-pointer'">
                <i class="fa-solid fa-network-wired"></i><p class="ml-3">Pert Chart</p>
            </li>
            <li routerLink="/dashboard/members" (click)="AsideFocusPage('/dashboard/members')" [ngClass]=" nav == '/dashboard/members' ? 'flex items-center font-bold pl-3 text-purple-700 cursor-pointer' : 'flex items-center font-bold pl-3 hover:text-purple-700 cursor-pointer'">
                <i class="fa-solid fa-people-group"></i><p class="ml-3">Members</p>
            </li>
            <li routerLink="/dashboard/managers" (click)="AsideFocusPage('/dashboard/managers')" [ngClass]=" nav == '/dashboard/managers' ? 'flex items-center font-bold pl-3 text-purple-700 cursor-pointer' : 'flex items-center font-bold pl-3 hover:text-purple-700 cursor-pointer'">
                <i class="fa-solid fa-people-roof"></i><p class="ml-3">Managers</p>
            </li>
            <hr class="bg-purple-500 rounded w-5/6 flex mt-4"/>
        </ol>
        <ol class="grid grid-row-2 h-full ml-10">
            <li routerLink="/dashboard/reports" (click)="AsideFocusPage('/dashboard/reports')"  [ngClass]=" nav == '/dashboard/reports' ? 'flex items-center font-bold pl-3 text-purple-700 cursor-pointer' : 'flex items-center font-bold pl-3 hover:text-purple-700 cursor-pointer'">
                <i class="fa-solid fa-print"></i><p class="ml-3">Reports</p>
            </li>
            <!-- <li routerLink="/dashboard/notification" (click)="AsideFocusPage('/dashboard/notification')"  [ngClass]=" nav == '/dashboard/notification' ? 'flex items-center font-bold pl-3 text-purple-700 cursor-pointer' : 'flex items-center font-bold pl-3 hover:text-purple-700 cursor-pointer'">
                <i class="fa-solid fa-bell"></i><p class="ml-3">Notification</p>
            </li> -->
            <hr class="bg-purple-500 rounded w-5/6 flex mt-4"/>
        </ol>
        <div class="grid grid-row-1 h-full">
            <div class="flex flex-col h-full">
                <div class="flex flex-col items-center justify-center">
                    <img class="w-12 h-12" src="../../../assets/images/profile_thumb.png" alt="profile"/>
                    <small>Super Admin</small>
                </div>
                <div class="flex justify-center align-items mt-4">
                    <div (click)="logout()" class="bg-red-700 hover:bg-red-500 cursor-pointer px-3 py-1 rounded text-white">
                        <i class="fa-solid fa-right-from-bracket"></i><small class="ml-3">LOGOUT</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>