/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Tahoma, sans-serif;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}
  
::-webkit-scrollbar-track {
  /* Track */
  background-color: rgba(0,0,0,.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aa1016;
}

  
@media only screen and (max-width: 600px){
  ::-webkit-scrollbar-track {
    /* Track */
    background-color: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #aa1016;
  }
}



.critical g .bar{
  outline:2px solid red !important;
  border-radius: .3rem;
  overflow: hidden;
}

.normal g .bar{
  outline:2px solid blue !important;
  border-radius: .3rem;
  overflow: hidden;
}

.critical g .bar-progress,
.normal g .bar-progress{
  fill: rgb(30, 165, 30) !important;
  stroke-width: 0.5;
}

.gantt .bar {
  fill: rgba(0,0,0,.2) !important;
}

.gantt .arrow {
  stroke: rgb(11, 20, 46) !important;
  stroke-width: 1.7px !important;
}

.gantt .bar-label {
  fill: blue !important;
  font-weight: bold !important;
}

