<div class="w-screen overflow-x-hidden h-full flex flex-col overflow-hidden">
  <app-header (ConfirmEventRequest)="FriendRequestEvent()" (OpenAside)="OpeningAside()" class="sticky z-20 top-0 left-0"></app-header>
  <div class="flex h-full w-full">
    <main
      class="h-full w-full"
    >
      <router-outlet 
      (activate)="subscribeToEmitter($event)" 
      (deactivate)="unsubscribe($event)"></router-outlet>
    </main>
    <app-aside
      [listOfFriend]="listOfFriend"
      [email]="email"
      [name]="name"
      [path] = "path"
      class="shadow-md bg-white z-10"
      *ngIf="isAsideOpen"
      id="app-aside"
    ></app-aside>
  </div>
</div>
