#dashboard-outline{
    outline: 1px solid rgba(0,0,0,.1);
    width:230px;
}

#add-project{
    width: 150px;
}

#card-container{
    width:75vw
}

#card-container{
    width:250px;
}

#aside-size{
    width:280px;
}



@media only screen and (max-width: 600px){
    #app-aside{
        position:absolute;
    }
}



