input{
    outline:none;
}

#heightDecider{
    max-height: 20rem;
    overflow-y: auto;
}


#headerPosition{
    position: absolute;
    top:50px;
}



@media only screen and (max-width: 760px){
    #headerPosition{
        top:90px;
    }
}