<div class="p-3 grid grid-cols-1 md:grid-cols-2 w-full justify-between md:items-center md:flex-row flex-col relative z-5"> 
    <div class="flex items-center items-center p-2 ">
        <app-button-aside-open></app-button-aside-open>
        <div class="text-2xl font-bold">{{section}}</div>
    </div> 
    <form [formGroup]="searchFormGroup" class="flex h-8 justify-between border-2 bg-gray-50 border-1 rounded items-center shadow-md w-full" id="search-container">
        <input (input)="search()" autocomplete="off" formControlName="searchName" type="text" class="ml-2 w-full  bg-gray-50 " placeholder="Search..." id="search"/>
        <i class="fa-sharp fa-solid fa-magnifying-glass px-1 text-md mr-2"></i>
    </form>
    <div *ngIf="data.length != 0" class="absolute w-full px-2" id="headerPosition">
        <div class="w-full h-full bg-white border mt-2 ring-black ring-opacity-5 rounded shadow-md" id="heightDecider">
            <div class="py-2 w-full border ring-black ring-opacity-5 hover:bg-gray-100 cursor-pointer" *ngFor="let project of data.projects">
                <div routerLink="/dashboard/projects/{{project.id}}" class="p-1 flex items-center">
                    <small class="px-2 py-1 bg-purple-700 mx-3 rounded text-white">Project: </small>
                    <div>{{project.projectName}}</div>
                </div>
            </div>
            <div class="py-2 w-full border ring-black ring-opacity-5 hover:bg-gray-100 cursor-pointer" *ngFor="let users of data.users">
                <div routerLink="/dashboard/members/{{users.id}}" class="p-1 flex items-center">
                    <img [src]="users.image ? hostingName+'/users/profiles/'+users.image : defaultProfile" class="h-10 w-10 mx-3 rounded-full border-2 border-blue-700 shadow-md" alt="profile">
                    <div>{{users.fullName}}</div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="data.length == 0 && fetching" class="absolute w-full  px-2" id="headerPosition">
        <div class="w-full h-full bg-white  mt-2 ring-black ring-opacity-5 rounded shadow-md" id="heightDecider">
            <div class="py-2 w-full ring-black ring-opacity-5 hover:bg-gray-100 cursor-pointer" *ngFor="let fake of FakeArray">
                <div  class="p-1 flex items-center">
                    <ngx-skeleton-loader class="flex w-10 mx-3 h-full" [theme]="{'background-color': '#A2ACA5'}" animation="progress"></ngx-skeleton-loader>
                    <ngx-skeleton-loader class="flex w-full h-full" [theme]="{'background-color': '#A2ACA5'}" animation="progress"></ngx-skeleton-loader>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="noData" class="absolute w-full px-2" id="headerPosition">
        <div class="w-full h-full bg-white  mt-2 border rounded shadow-md" id="heightDecider">
            <div class="py-2 w-full border hover:bg-gray-100 cursor-pointer">
                <div  class="p-1 flex items-center">
                    <div class="flex items-center justify-center w-full">
                        <small class="font-bold">No Data Found!</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>